
.hidden {
    display: none;

}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */



a {
   /* font-weight: bold;*/
    text-decoration: underline;
}
a:link,
a.link {
	cursor: pointer;
}
a:visited {

}
a:hover {

}
a:active {

}


/* base component view */
.component {
    margin: 20px 0px 0 0;
   	background-color: #F8F8F8;
    -moz-border-radius: 10px;
	border-radius: 10px;
    float: left;
}

.component .inside {
  padding: 0;
  
}

.component .component-info {
    clear:both;
    margin: 5px 0 5px 0 ;
    padding:0 1% 1.1em;
    color: #444444;
    font-size: 0.8em;
}
.component .component-title {
    -moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	padding: 5px;
}
.component .component-title h2 {
    clear:both;
    font-weight: bold;
    color: #656464;
    margin: 0;
}
/* messages, errors, success */

.component .component-message {
  	clear:both;
  	padding: .5em 0.5em .5em 0;

}
.component .component-message.error  {
	color: #fff;
	font-weight: bold;
	background: #c73e14;
}
.component .component-message.warn  {
	color: #fff;
	font-weight: bold;
	background: #c73e14;
}
.component .component-message.success  {
	color: #fff;
	font-weight: bold;
	background: green;
}

.component .component-message span {
 	font-size: .90em;
 	margin-left: 0.5em;
}

.component .component-view {
 /* float: left;
  width: 100%;*/
  padding: 1em;
}

.component.component-dialog {
	background-color: #FFFFFF;
}

.component.component-dialog .component-info {
	margin: 0;
	padding: 0;
}

.ui-tabs-panel .component {
	float: none;
	margin: 0;
}

.collectible.item {
    padding: 20px;
    float: left;
    clear: both;
    /*width: 550px;*/
    border-bottom: 1px solid #FDB924;
}
.collectible.item .test {
    float: left;
    width: 100%;
}
.collectible.item.added {
    border: 1px solid #000;
}
.collectible.image {
    float: left;
}
.collectible.image .image.link {
	padding-top: 5px;
	font-size: 0.75em;
}
.collectible.detail-wrapper {
	float: left;
	width: 550px;
}
.collectible.detail {
    float: left;
    margin-left: 10px;
    width: 350px;

	background-color: #F8F8F8;	
    margin-bottom: 20px;
}
.collectible.detail .detail.title {
	
	width: 100%;
	overflow: hidden;
}
.collectible.detail .detail.title h3 {
	font-size: 1em;
	padding: 2px;
	font-weight: bold;
	margin-bottom: 0;
	float: left;
	color: #656464;
}

.collectible.detail .detail.title .title.link {
	font-size: 0.75em;
}
.collectible.detail .detail.title .title.link a {
	padding: 2px;
		float: right;
}

.collectible.detail dl {
	padding: 5px;
}
.collectible.detail .attributes-list ul li span,
.collectible.statistics dl,
.collectible.detail dl {
    font-size: 0.75em;
  
}

.collectibles.view {
    float: left;

}
.collectibles.view table {
    width: 100%;
    margin-bottom: 1em;
}
.collectibles.view table caption {
    text-align: left;
    color: #993;
    font-size: 140%;
}
.collectibles.view table th {
    text-align: right;
}
.collectibles.view table td, .collectibles.view table th {
    padding: 0.5em;
}
.collectibles .collectible .links {
    /*display: none;*/
    float: right;
}
.collectibles .collectible .links a {
	font-size: 0.75em;
	color: #000;
}
.collectibles .collectible .links ul li {
    display: inline;
}

.collectibles.view .collectible.actions {
  float: left;
  clear: both;
  margin-top: 5px;
}

.collectibles.view .collectible.actions a {
  font-size: 0.75em;
  padding: 0;
}




/* search component */

#search-component {
  border: none;
  /*float: right;*/
  /*width: 380px;*/
  width: 100%;
}

#search-component .component-view {
  float: left;
  
}

#search-component .component-view .component-search-input {
  float: left;
}

#search-component .component-view .component-search-filters .form-fields li,
#search-component .component-view .component-search-input .form-fields li {
  padding: 0; 
}

#search-component .component-view .component-search-filters {
  float: right;
}

#search-component .component-view .component-search-filters .filter-title {
  color: #000;
  margin-left: 1em;
  font-size: 0.75em;
  vertical-align: bottom;
}

#search-component .component-view .component-search-filters .filters {
  display: none;
}



#search-component .component-view .submit {
  float: left; 
  clear: none;
  margin:0;
}
#search-component .component-view .submit input {
  -moz-border-radius: 0;
  font-size: 100%;
}

/* collectibles view component */

#collectibles-list-component {
  width: 100%;
  /*margin: 0;
  border: none;*/
}

#collectibles-list-component .inside {
  float: left;
  width: 100%;
}

#collectibles-list-component .component-title {
  /*  margin: 0 1em 0 1em; */
}

#collectibles-list-component  .component-view {
	overflow: hidden; /*used to contain float*/
}

#collectibles-list-component  .collectibles.view {
   /* margin: 0 0em 0 1em;*/
}

#collectibles-list-component .component-view .collectibles.view .collectible.item .collectible.detail {
	border: none;
}

#collectible-add-component {
  width: 100%;
}  
#collectible-add-component .component-title {
  /*margin: 5px;*/  
}
#collectible-add-component .inside  {  
  float: left;
  width: 100%;
}
#collectible-add-component .component-view .collectible.item,
#collectible-add-component .component-view {
 	overflow: hidden;
}
#collectible-add-component .component-view .collectible.item {
	border-bottom: none;
	padding: 0;
}
#collectible-add-component .inside .component-view .collectible.add {
	float: left;
}

#collectible-add-component .inside .component-view.add-image .collectible.image img {
	margin-left: auto;   
	margin-right: auto;
	display: block;
	
}

#collectible-add-component .inside .component-view.add-image .collectible {
	float: none;
}

#collectible-add-component .inside .component-view .links {
	text-align: left;
	margin-top: 1em;
}
#collectible-add-component .inside .component-view .links.review,
#collectible-add-component .inside .component-view .links.no-image {
	text-align: left;
}
#collectible-add-component .inside .component-view .links a {
	color: #000;
	font-size: 1em;
	cursor: pointer;
}
#collectible-add-component .inside .component-view .links.review {
	clear: both;
	float: left;
}

#collectible-add-component .inside .component-view .collectible.add {
	margin-bottom: 1em;
	width: 500px;
}
#collectible-add-component .component-view .form-fields li {
	/*width: 600px; matches the width of the component */
}
#collectible-add-component .component-view .form-fields li .dimensions {
	clear: both;
}
#collectible-add-component .component-view .form-fields li .dimensions span,
#collectible-add-component .component-view .form-fields li .dimensions {
	float: left;
	
}
#collectible-add-component .component-view .form-fields li .dimensions span {
	line-height: 2;
	margin-left: 2px;
	margin-right: 2px;
}
#collectible-add-component .component-view .collectible.add fieldset {
	/*float: left;*/
	margin-bottom: 1em;
}
#collectible-add-component .component-view .collectible.add fieldset legend {
	font-size: 1em;
	font-weight: bold;
	color: #656464;
	width: 100%;
	margin-bottom: 0.5em;
	float: right;
}
#collectible-add-component .component-view .collectible.add .add-attribute,
#collectible-add-component .component-view .collectible.add .add-variant-attribute,
#collectible-add-component .component-view .collectible.add .attributes-list {
	font-size: 0.75em;
	width: 500px;
}

#collectible-add-component .inside .component-view .collectible.image.uploader .file-uploader {
	float: left;
	clear: both;
}
#collectible-add-component .inside .component-view .collectible.add.tag fieldset {
	margin-bottom: 0;
}
#collectible-add-component .inside .component-view .collectible.add.tag fieldset .form-fields li .button {
	width: 50px;
	clear: none;
	padding: 2px;
}
#collectible-add-component .inside .component-view .collectible.add.tag fieldset .form-fields li .text-box {
	clear:left;
}
#collectible-add-component .inside .component-view .collectible.add.tag .tag-list {
	overflow: hidden;
	margin-bottom: 20px;
}

#collectible-add-component .inside .component-view .collectible.add.tag .tag-list .tag {
	font-size: 0.75em;
	display: inline;
	margin-right: 1em;
	padding: 10px;
	float: left;
	background-color: #CCCCCC;
}


/*#collectible-add-component*/
#CollectibleProductWeight,
#collectibleHeight,
#collectibleWidth,
#collectibleDepth {
	width: 100px;
}
#CollectibleMsrp {
	width: 100px;
}

/*
#collectibleWidth,
#collectibleDepth {
	clear: none;
}
*/
.attributes-list {
	float: left;
    width: 100%;
}
.attributes-list ul {

	border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
}

.attributes-list ul li {
	overflow: hidden;
	border-bottom: 1px solid #E1E1E1;
	padding: 10px;
	color: #606060;
}
.attributes-list ul li.title {
	background-color: #EAEAEA;
	border-bottom: 1px solid #D8D8D8;
    color: #999999;
    
} 
.attributes-list ul li .attribute-label,
.attributes-list ul li .attribute-name,
.attributes-list ul li .attribute-description {
	float: left;
	white-space: normal;
}
.attributes-list ul li .attribute-label {
	width: 25%;
	
}
.attributes-list ul li .attribute-name {
	width: 25%;
}

.attributes-list ul li .attribute-description {
	width: 50%;
}

.attributes-list.empty ul,
.attributes-list.empty ul li {
	border: none;
}

.attributes-list.empty ul li {
	font-size: 0.75em;
}

#my-stashes-component {
	width: 100%;
}
#my-stashes-component .inside .component-view {
	overflow: hidden;
	padding: 0;
	padding-top: 10px;
}
#my-stashes-component .inside .component-view .actions {
	float: left;
	margin-right: 20px;
	width: 10%;
}
#my-stashes-component .inside .component-view .actions li {
	margin-bottom: 10px;
}
#my-stashes-component .inside .component-view .glimpse {
	float: left;
	width: 80%;
}

#my-stashes-component .inside .component-view .glimpse img {
	padding: 10px;
	border: 8px solid #333333;
    border-radius: 8px 8px 8px 8px;
    margin: 10px;
}

#collectible-detail {
	width: 100%;
	margin-right: 0;
	
}

#collectible-detail .component-view {
	overflow: hidden; /* contain floats */
	
}

#collectible-detail .component-view .collectible.item {
	border: none;

}

#collectible-detail .component-view .links {
	width: 100%;
	text-align: left;
}
#collectible-detail .component-view .links a {
	font-size: 0.75em;
	margin-left: 1em;
}

#collectible-detail .component-view .collectible.item {
	width: 100%;
	
}

#collectible-detail .component-view .collectible.item  .collectible.detail {
	width: 500px;
	
}

#collectible-history-list-component {
	width: 100%;
}

#collectible-history-list-component .inside .component-view .history {
	text-align: left;
	font-size: 0.75em;
}

#collectible-history-list-component .inside .component-view .history th,
#collectible-history-list-component .inside .component-view .history td {
	padding: 5px;
	
}
.collectible.statistics dl,
.collectible.detail dl {
	line-height: 2em;
	margin: 0em 0em;
}
.collectible.statistics dt,
.collectible.detail dt {
	color: #606060;
	/*padding-left: 4px;*/
	vertical-align: top;
}
.collectible.statistics dd,
.collectible.detail dd {
	margin-left: 14em;
	margin-top: -2em;
	vertical-align: top;
	color: #999999;
}

.dialog .component, 
.dialog .component {
  border: none;
  margin: 0;
}

#home-components .random-collectibles {
	width: 400px;
}
#home-components .random-collectibles .inside .component-view {
	overflow: hidden;
}

#home-components .random-collectibles .inside .component-view .collectibles .collectible {
	padding: 5px;
	float: left;
	width: 100%
}

#home-components .random-collectibles .inside .component-view .collectibles .collectible .image {
	float: left;
	width: 100px;	
}

#home-components .random-collectibles .inside .component-view .collectibles .collectible .detail {
	float: left;	
	margin-left: 1em;
}
#home-components .random-collectibles .inside .component-view .collectibles .collectible .detail p {
	font-size: 0.75em;
}

#home-components .find-by {
	float: right;
	width: 400px;
}

#home-components .find-by .inside .component-view .search-types div ul li a {
	font-size: 0.75em;
}

#registration-component {
	width: 100%;
}

#registration-component .inside .component-view p {
	text-align: center;
}

.container2 {
    margin:20px 20px 0;
   /* padding:0 0 20px;*/
   /* width:480px;*/
   float: left;

}
.container2 .info {

    border-bottom:1px dotted #CCCCCC;
    clear:both;
    display:inline-block;
    margin:0 0 5px;
    padding:0 1% 1.1em;

    border-bottom-style:dotted;
    border-color:#046380;
    border-left-width:1px;
    border-right-width:1px;
    border-top-width:1px;
}
.info h2 {
    clear:left;
    font-size:160%;
    font-weight:normal;
    margin:0 0 5px;
    color:#000000;
    font-size:160%;
}
.info div {
    color:#555555;
    font-size:95%;
    line-height:135%;
    color:#444444;
    font-size: 0.8em;
}
/** Forms **/
form {
  /*  clear: both;
    margin-right: 20px;
    padding: 0;
    width: 95%;*/
}
/*
fieldset {
    	border: 1px solid #ccc;
    margin-bottom: 1em;
    padding: 16px 20px; 
}
fieldset legend {
    color: #FDC82F;
    font-size: 160%;
    font-weight: bold;
}
fieldset fieldset {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 16px 10px;
}
fieldset fieldset legend {
    font-size: 120%;
    font-weight: normal;
}
fieldset fieldset div {
    clear: left;
    margin: 0 20px;
}
*/
form div {
    /*	clear: both;
    margin-bottom: 1em;
    padding: .5em;
    vertical-align: text-top;           */
}
form .input {
    color: #ccc;
    /*#5B5C5C*/
}
form .required {
    /*font-weight: bold;*/
}
form .required label:after {
    color: #e32;
    content: '*';
    display:inline;
}
form div.submit {
    border: 0;
    clear: both;
    margin-top: 10px;
}
label {
    display: block;
    margin-bottom:3px;
}
.form-fields input, .form-fields textarea {
    clear: both;
    /*font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;*/
    /*	height: 26px;     off for now, is screwin up inptu buttons */
    padding: 5px;
    width: 272px;
}
select {
    clear: both;
    /*font-size: 120%;*/
    vertical-align: text-bottom;
}
select[multiple=multiple] {
    width: 100%;
}
option {
   /* font-size: 120%;
    padding: 0 3px;*/
}
input[type=checkbox] {
    clear: left;
    float: left;
    margin: 0px 6px 7px 2px;
    width: auto;
}

input[type=radio] {
    float:left;
    width:auto;
    margin: 0 3px 7px 0;
}
div.radio label {
    margin: 0 0 6px 20px;
}
input[type=button].button,
.ui-dialog .ui-dialog-buttonpane button,
input[type=submit],
div.actions ul li a,
td.actions a {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');*/
}
input[type=button].button:hover,
.ui-dialog .ui-dialog-buttonpane button:hover,
input[type=submit]:hover {
	text-decoration: none;
	background: -moz-linear-gradient(center top , #757575, #4B4B4B) repeat scroll 0 0 transparent;
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');*/
}
input[type=button].button:active,
.ui-dialog .ui-dialog-buttonpane button:active,
input[type=submit]:active {
	position: relative;
	top: 1px;
	background: -moz-linear-gradient(center top , #575757, #888888) repeat scroll 0 0 transparent;
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');*/
}
/*
.nav {
    clear:right;
    float: right;
    font-size:14px;
    list-style:none outside none;

}
.nav li {
    float: left;
}*/
.form-fields {
	font-size: 0.75em;
}
.form-fields li {
   /* width:64%;*/
    clear:both;
    margin:0;
    padding:6px 1% 9px;
    width: 100%;
    float: left;
}

.form-fields li .label-wrapper {
    padding:0 0 3px;
    clear: both; 
    float: left;
}
.form-fields li div.checkbox label,
.form-fields li .label-wrapper label {
    border:medium none;
    color:#222222;
    font-weight:bold;
    /*line-height:150%;*/
    margin:0;
    padding: 0;
    display: inline;
    float: left;
}
.form-fields li .label-wrapper .ui-icon {
  float: left;
}
.form-fields li textarea, 
.form-fields li select,
.form-fields li input {
  float: left;
}
.form-fields li .error-message {
    width: 262px;
    padding: 5px;
    clear: both;
	color: #fff;
	font-size: 100%;
	font-weight: bold;
	background: #c73e14;
}


.form-fields li select {
letter-spacing: 0;
}

/*
.form-fields li .instruct {
    background:none repeat scroll 0 0 #C5DBEC;
    border:none;
    left:0;
    margin:0 0 0 8px;
    padding:8px 10px 10px;
    position:absolute;
    top:0;
    visibility:hidden;
    width:45%;
    z-index:1000;
    font-size: .90em;
}
.form-fields li.focused .instruct, .form-fields li:hover .instruct {
    left:100%;
    visibility:visible;
}
form li.focused, form li:hover {
    position:relative;
    background-color:#DFEFFC;
}*/
/* gallery

.gallery .item {
border: 1px solid #330000;
margin: 5px;
padding: 10px;
float: left;

}
.gallery .item p {
font-size: 60%;
text-align: center;
margin: 0;
}

.gallery .item img {
margin-right: auto;
margin-left: auto;
display: block;

}
*/
/*
.gallery {
list-style:none outside none;
margin:0;
padding:0;
}
.gallery li {
float:left;
height:175px;
margin:15px;
padding:0;
position:relative;
width:212px;
}

.gallery em {
background:url("/img/picture-frame.png") no-repeat scroll 0 0 transparent;
display:block;
font:100%/100% Georgia,"Times New Roman",Times,serif;
height:30px;
padding-top:145px;
position:absolute;
text-align:center;
width:212px;
}

.gallery img {
padding:20px 0 0 21px;
}
5_gall...e.html# (line 68)
img {
border:medium none;
}

*/

/** containers **/
/*
div.form, div.index, div.view {
    padding: 10px;
}*/
/*
div.actions {
    float:left;
    width:16%;
    padding:10px 1.5%;
}
div.actions h3 {
    padding-top:0;
    color:#777;
}*/
/* collectible-add */

.standard-add, .non-standard-add {
    display: none;

}
.collectible-add.form {
    float:left;
    padding: 0;
    border-left: none;
}
h1 {
    margin:0;
    padding:0;
    min-height:0;
    background-color:#dedede;
    text-indent:-9000px;
    text-decoration:none;
}
h1 a {
    min-height:40px;
    height:40px;
    display:block;
    background:url(../images/wflogo.png) no-repeat left top;
    overflow:hidden;
}
* html h1 a {
    _background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/wflogo.png", sizingMethod="crop");
}
img, a img {
    border:none;
    -ms-interpolation-mode: bicubic;
}
* html #bottom {
    _behavior: url(../images/iepngfix.htc);
}
.hide, .cloak div {
    display:none !important;
}

/** Paging **/
div.paging {
  color: #ccc;
  margin-top: 1em;
  clear:both;
  float: left;
}
div.paging span.disabled {
  display: none;
}
div.paging span.current {
  color: #c73e14;
}
div.paging span a {
}



/* varian add */

.variant-description {
    display: none;

}

#pending-submissions {

}
#pending-submissions th {
    text-align: left;

}
#home-submissions {
    border: 1px solid #000;

}
#home-submissions h2 {
    border-bottom: 1px solid #000;

}
#home-submissions .info {
    border: none;
    display: block;
}
.ui-widget-content {
    /*background: none;*/

}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    /*background-color: #EFECCF;*/

}
#resizable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
}
#resizable h3 {
    text-align: center;
    margin: 0;
}
#stage .inside .ui-widget-content {
    margin-bottom: 10px;

}



/* Tabs */

.ui-tabs-panel .container2 {
  margin: 0;
  padding: 0;
  
}

.ui-tabs-panel .container2 .info {
  padding: 0 0 1em 0;
  
}



#stash-list {
  
  
}

#stash-list tr th,
#stash-list tr td {
  padding: 0.5em;  
  
}

#stash-list tr td a {
  margin-right: 10px;
  
}


/* dialog */

.dialog {
  display: none;
  
}

.dialog .component {
  margin: 0;
  background-color: #FCFDFD;
  
}

.ui-dialog .ui-dialog-buttonpane {
	border: none;
}




.add-to-collection {
  cursor: pointer;
}


.tooltip {
    -moz-box-shadow: 0 0 10px #000000;
    background-color: #000000;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: none;
    font-size: 12px;
    padding: 10px 15px;
    text-align: left;
    width: 200px;
}

#add-attribute-dialog #add-attribute-dialog-fields select {
  float: left;
  clear: both;
  margin-bottom: 10px;
  
}

#stash-list-container .stash-list-details {
    color: #444444;
    font-size: 0.8em;
}

.ui-dialog {
	border: 8px solid #333333;
    border-radius: 8px 8px 8px 8px;
	
}

.ui-widget-header {
	background: none;
	border: none;
	color: #ccc;

	
}

.ui-tabs-nav.ui-widget-header {
	background-color: #464646;	
}
.ui-tabs{
	border: none;
	background-color: #F8F8F8;
}

.ui-tabs .ui-state-default {
	background: url("/img/icon/555555_40x100_textures_03_highlight_soft_75.png") repeat-x scroll 50% 50% #555555;
    border: 1px solid #666666;
    color: #FFFFFF;
    font-size: 14px;
    padding: 4px 1.2em 3px;
}

.ui-tabs .ui-state-default a {
	color: #FFFFFF;
	font-weight: normal;	
}
.ui-tabs .ui-state-active {
    background: #F8F8F8;
    border: 1px solid #666666;

    outline: medium none;
	
}

.ui-tabs .ui-state-active a{
    color: #F6921E;
    font-weight: normal;	
}

#bread-crumbs {
	width: 100%;
	float: left;
}

#bread-crumbs div {
	display: inline;
	margin-right: 1em;
	padding: 10px;
	float: left;
	color: #999999;
	
}
#bread-crumbs div.complete a {
	color: #656464;
}
#bread-crumbs div.expected a,
#bread-crumbs div.incomplete a {
	color: #999999;
}
#bread-crumbs div.active a {
	color: #656464;
	font-weight: bold;
}
#bread-crumbs div a {
	text-decoration: none;
}

.autocomplete-w1 { background:url("/img/shadow.png") no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:normal; color:#3399FF; }
