
/*
 * For Upload drop zone effects
 */
#upload-dialog .component.component-dialog {
	width: 1240px;
	overflow: hidden;
}
#upload-dialog .component.component-dialog .inside .component-info {
	width: 100%;
}

#dropzone {
	background: palegreen;
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
}
#dropzone.in {
	width: 600px;
	height: 200px;
	line-height: 200px;
	font-size: larger;
}
#dropzone.hover {
	background: lawngreen;
}
#dropzone.fade {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	opacity: 1;
}

/**
 * 	Bootstrap overrides or anything since I started using boostrap
 */
.well {
	background-color: #F0F0F0;
}

.home .well {
	background-color: #FFF;
}
.tab-content {
	overflow: hidden;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
	margin-left: 0;
}

.radio, .checkbox {
	padding-left: 0;
}
.spacer {
	margin-top: 20px;
}
.well.user-stats .dl-horizontal dt {
	width: 200px;
}

.well.user-stats .dl-horizontal dd {
	margin-left: 215px;
}

.well .paging {
	float: none;
}

#tree span {
	cursor: pointer;
}
/* fixes problem with typeahead in modals */
.typeahead {
	z-index: 1051;
}
.edits table tr, .submissions table tr {
	cursor: pointer;
}
.new .thumbnails, .pending .thumbnails {
	margin-left: 50px;
}
.navbar-container {
	margin-left: 30px;
	margin-right: 30px;
}

.fileupload-buttonbar div {
	margin-top: 10px;
}
.url-upload input {
	margin-bottom: 0;
}
#attribute-upload-dialog, #upload-dialog {
	width: 720px;
}
/* On resolution 1280 x 720 this stopped the buttons from showing up
 #manufacturerModal .modal-body {
 max-height: 500px;
 min-height: 400px;
 }*/

.manufacturer-collectibles {
	float: left;
	width: 100%;
}
.page-header h2.title {
	border-bottom: 1px solid #E3E3E3;
}
.collectible-title-wrapper span {
	margin-left: 10px;
}
.table.table-borderless td, .table.table-borderless th {
	border-top: 0;
}
#create-container .mass-img {
	margin-bottom: 45px;
}
#create-container .thumbnail {
	height: 500px;
}

#filters .filter ul li {
	padding: 5px;
}
#filters .filter ul li label {
	white-space: normal;
}

#filters .filter a.dropdown-toggle {
	position: relative;
}
#filters .filter ul {
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}

#attribute-collectible-add-existing-dialog .modal-body {

	min-height: 400px;
}

.attributes-list .attribute {
	border-bottom: 1px solid #DDDDDD;
}

.attributes-list .attribute .thumbnails > li {
	margin-bottom: 0;
}

.attributes-list .attribute .name {
	color: #555555;
	font-weight: bold;
}

.attributes-list .attribute .path {
	font-style: italic;
	margin-left: 5px;
}

.attributes-list .attribute .label {
	margin-right: 10px;
}
.attributes-list .attribute .count {
	text-align: right;
}
#footer {
	background: url("/img/tile.png") repeat scroll 0 0 transparent;
	background-color: #444444;
	text-align: center;
	color: #EEEEEE;
}

#header-navbar .nav.pull-right li a i {
	font-size: 140%;
}
.activities .activity .action {
	margin-top: 5px;
}

#collectible-container .page-header {
	margin-bottom: 5px;
	padding-bottom: 0;
}

#collectible-container .page-header span {
	font-size: 18px;
	color: #999999;
	font-weight: normal;
	line-height: 1;
}
#collectible-container .page-header .label {
	color: #FFF;
}
.datepicker {
	z-index: 1151;
}
#collectibles-list-component .well {
	background-color: #FFF;
}
#collectibles-list-component .collectibles .collectible .name {
	color: #555555;
	font-weight: bold
}
#collectibles-list-component .collectibles .collectible .count .label,
#collectibles-list-component .collectibles .collectible .labels .label {
	margin-right: 10px;
}
#collectibles-list-component .collectibles .collectible .label a {
	color: #FFF;
}
#collectibles-list-component .collectibles .collectible {
	border-bottom: 1px solid #DDDDDD;
}
/* I think this is in the newest version of bootstrap so remove when that is added */
#collectibles-list-component .collectible-detail .well .text-center {
	text-align: center;
}

#collectibles-list-component .collectible-detail .well .test {
	overflow-y: scroll;
	height: 700px;
}
a.btn.sort.asc {
    background: url("/img/icon/triangle_up.png") no-repeat scroll right center transparent;
    padding-right: 20px;
}

a.btn.sort.desc {
    background: url("/img/icon/triangle_down.png") no-repeat scroll right center transparent;
    padding-right: 20px;
}

@media only screen and (max-width: 800px) {
	/* Force table to not be like tables anymore */
	#no-more-tables table, #no-more-tables thead, #no-more-tables tbody, #no-more-tables th, #no-more-tables td, #no-more-tables tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#no-more-tables tr {
		border: 1px solid #ccc;
	}

	#no-more-tables td {
		/* Behave like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align: left;
	}

	#no-more-tables td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align: left;
		font-weight: bold;
	}

	/*
	 Label the data
	 */
	#no-more-tables td:before {
		content: attr(data-title);
	}
}
/*
 * Cake BS
 */
.cake-sql-log {
	float: left;
}
