.hidden {
	display: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */

.tn3e-prev {
	background-image: url("/img/icon/tn3e.png");
	background-position: -2px -3px;
	bottom: 50%;
	cursor: pointer;
	height: 17px;
	left: 30px;
	position: absolute;
	width: 13px;
}
.tn3e-prev:hover {
	background-position: -2px -23px;
}
.tn3e-next {
	background-image: url("/img/icon/tn3e.png");
	background-position: -20px -3px;
	bottom: 50%;
	cursor: pointer;
	height: 17px;
	position: absolute;
	right: 33px;
	width: 13px;
}
.tn3e-next:hover {
	background-position: -20px -23px;
}
a {
	/* font-weight: bold;*/
	text-decoration: none;
}
a:link, a.link {
	cursor: pointer;
	color: #606060;
	text-decoration: underline;
}
a:visited {
	color: #606060;
}
a:hover {
	text-decoration: none;
}
a:active {

}
/* base component view */
.component {
	margin: 10px 0px 0 0;
	background-color: #FFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left;
	width: 100%;
}
.component .inside {
	padding: 0;
}
.component .component-info {
	clear: both;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 1em;
	padding-top: 0.5em;
	color: #444444;
	font-size: 0.8em;
}
.component .component-info ul {
	list-style-type: disc;
	list-style-position: inside;
	margin-bottom: 10px;
}
.component .component-info ul li {
	margin-left: 10px;
}
.component .component-title {
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	padding: 1em;
}
.component .inside .component-title {
	overflow: hidden;
}
.component .inside .component-title .actions {
	/*float: right;
	 margin-right: 20px;
	 display: inline;*/
	position: absolute;
	right: 20px;
}
.component .inside .component-title .actions ul li a {
	background: none repeat scroll 0 0 transparent;
	border: none;
	box-shadow: none;
	padding: 0;
	margin: 0;
}
.component .inside .component-title .actions ul li a.link {
	font-size: 0.75em;
}
.component .component-title h2 {
	clear: both;
	font-weight: bold;
	color: #656464;
	margin: 0;
}
/* messages, errors, success */

.component-message {
	clear: both;
	padding-left: 1em;
	padding-bottom: 1em;
}
.component-message.error {
	color: #C73E14;
	font-weight: bold;
	/*background: #c73e14;*/
}
.component-message.warn {
	color: #C73E14;
	font-weight: bold;
	/*background: #c73e14;*/
}
.component-message.success {
	color: green;
	font-weight: bold;
	/*background: green;*/
}
.component-message ul li, .component-message span {
	font-size: .90em;
	/*margin-left: 0.5em;*/
}
.component-message ul {
	margin-top: 10px;
	margin-left: 10px;
}
.component .component-view {
	/* float: left;
	 width: 100%;*/
	padding: 0 2em 2em 2em;
	overflow: hidden;
}
.component.component-dialog {
	/*background-color: #FFFFFF;*/
}
.component.component-dialog .component-info {
	margin: 0;
	padding: 0;
}
.ui-tabs-panel .component {
	float: none;
	margin: 0;
}
.collectible.item {
	padding: 20px;
	float: left;
	clear: both;
	/*width: 550px;*/
	border-bottom: 1px solid #FDB924;
}
.collectible.item .test {
	float: left;
	width: 100%;
}
.collectible.item.added {
	border: 1px solid #000;
}
.collectible.image {
	float: left;
	width: 150px;
}
.collectible.image .image.link {
	padding-top: 5px;
	font-size: 0.75em;
}
.collectible.detail-wrapper {
	float: left;
	width: 550px;
}
.collectible.detail {
	float: left;
	margin-left: 10px;
	width: 350px;
	background-color: #FFF;
	/*margin-bottom: 20px;*/
}
.collectible.detail .detail.title {
	margin-bottom: 5px;
	width: 100%;
	overflow: hidden;
}
.collectible.detail .detail.title h3 {
	font-size: 1em;
	padding: 2px;
	font-weight: bold;
	margin-bottom: 0;
	float: left;
	color: #656464;
	margin-top: 15px;
}
.collectible.detail .detail.title .title.link {
	font-size: 0.75em;
}
.collectible.detail .detail.title .title.link a {
	padding: 2px;
	float: right;
}
.collectible.detail dl {
	padding: 5px;
}
.collectible.detail .attributes-list ul li span, .stats dl, .collectible.statistics dl, .collectible.detail dl {
	font-size: 0.75em;
}
.collectibles.view {
	float: left;
}
.collectibles.view table {
	width: 100%;
	margin-bottom: 1em;
}
.collectibles.view table caption {
	text-align: left;
	color: #993;
	font-size: 140%;
}
.collectibles.view table th {
	text-align: right;
}
.collectibles.view table td, .collectibles.view table th {
	padding: 0.5em;
}
.collectibles .collectible .links {
	/*display: none;*/
	float: right;
}
.collectibles .collectible .links a {
	font-size: 0.75em;
	color: #000;
}
.collectibles .collectible .links ul li {
	display: inline;
}
.collectibles.view .collectible.actions {
	float: left;
	clear: both;
	margin-top: 5px;
}
.collectibles.view .collectible.actions a {
	font-size: 0.75em;
	padding: 0;
}
/* search component */

.component-search-input {
	float: left;
}
.component-search-input form {
	background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent;
	border: 1px solid #D2D2D2;
	/*border-radius: 2em 2em 2em 2em;*/
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	display: inline-block;
	padding: 3px 5px;
}
.component-search-input form .searchfield {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #BCBBBB;
	/*border-radius: 2em 2em 2em 2em;*/
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
	outline: medium none;
	padding: 6px 6px 6px 8px;
	width: 202px;
}
.component-search-input form input {
	font: 12px /100%;
}
.component-search-input form .searchbutton {
	background: -moz-linear-gradient(center top , #9E9E9E, #454545) repeat scroll 0 0 transparent;
	border: 1px solid #494949;
	/*border-radius: 2em 2em 2em 2em;*/
	color: #FFFFFF;
	font-size: 11px;
	height: 27px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}
/* collectibles view component */

#collectibles-list-component {
	width: 100%;
	/*margin: 0;
	 border: none;*/
}
#collectibles-list-component .inside {
	float: left;
	width: 100%;
}
#collectibles-list-component .component-title {
	/*  margin: 0 1em 0 1em; */
}
#collectibles-list-component .component-view {
	overflow: hidden; /*used to contain float*/
	padding-top: 0;
	min-height: 600px; /* This is here for the search filter drop down */
}
#collectibles-list-component .collectibles.view {
	/* margin: 0 0em 0 1em;*/
}
#collectibles-list-component .component-view .collectibles.view .collectible.item .collectible.detail {
	border: none;
}
#collectibles-list-component .component-view .collectibles.view.empty p {
	font-size: 0.75em;
	color: #606060;
}
#collectibles-list-component.variant-list .component-view {
	overflow: hidden; /*used to contain float*/
	padding-top: 0;
	min-height: 10px; /* This is here for the search filter drop down */
}
#collectible-add-component {
	width: 100%;
}
#collectible-add-component .component-title {
	/*margin: 5px;*/
}
#collectible-add-component .inside {
	float: left;
	width: 100%;
}
#collectible-add-component .component-view .collectible.item, #collectible-add-component .component-view {
	overflow: hidden;
}
#collectible-add-component .inside .component-view .collectible.add {
	float: left;
}
#collectible-add-component .inside .component-view.add-image .collectible.image img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#collectible-add-component .inside .component-view.add-image .collectible {
	float: none;
}
#collectible-add-component .inside .component-view .links {
	text-align: left;
	margin-top: 1em;
}
#collectible-add-component .inside .component-view .links.review, #collectible-add-component .inside .component-view .links.no-image {
	text-align: left;
}
#collectible-add-component .inside .component-view .links a {
	color: #000;
	font-size: 1em;
	cursor: pointer;
}
#collectible-add-component .inside .component-view .links.review {
	clear: both;
	float: left;
}
#collectible-add-component .inside .component-view .collectible.add {
	margin-bottom: 1em;
	width: 500px;
}
#collectible-add-component .component-view .form-fields li {
	/*width: 600px; matches the width of the component */
}
#collectible-add-component .component-view .form-fields li .dimensions {
	clear: both;
}
#collectible-add-component .component-view .form-fields li .dimensions span, #collectible-add-component .component-view .form-fields li .dimensions {
	float: left;
}
#collectible-add-component .component-view .form-fields li .dimensions span {
	line-height: 2;
	margin-left: 2px;
	margin-right: 2px;
}
#collectible-add-component .component-view .collectible.add fieldset {
	/*float: left;*/
	margin-bottom: 1em;
}
#collectible-add-component .component-view .collectible.add fieldset legend {
	font-size: 1em;
	font-weight: bold;
	color: #656464;
	width: 100%;
	margin-bottom: 0.5em;
	float: right;
}
#collectible-add-component .component-view .collectible.add .add-attribute, #collectible-add-component .component-view .collectible.add .add-variant-attribute, #collectible-add-component .component-view .collectible.add .attributes-list {
	font-size: 0.75em;
	width: 500px;
}
#collectible-add-component .inside .component-view .collectible.image.uploader .file-uploader {
	float: left;
	clear: both;
}
#collectible-add-component .inside .component-view .collectible.add.add-tag fieldset {
	margin-bottom: 0;
}
#collectible-add-component .inside .component-view .collectible.add.add-tag fieldset .form-fields li .button {
	width: 50px;
	clear: none;
	padding: 2px;
}
#collectible-add-component .inside .component-view .collectible.add.add-tag fieldset .form-fields li .text-box {
	clear: left;
}
#collectible-add-component .inside .component-view .question {
	color: #444444;
}
#collectible-add-component .inside .component-view .question dl {
	margin-left: 20px;
	font-size: 0.80em;
}
#collectible-add-component .inside .component-view .question dl dt {
	font-weight: bold;
}
#collectible-add-component .inside .component-view .links form {
	float: left;
}
#collectible-add-component .component-view .links {
	float: left;
	width: 100%;
	margin-top: 10px;
}
#collectible-add-component .component-view .links .submit {
	float: left;
}
/*#collectible-add-component .inside .component-view .collectible.add.tag*/
.tag-list {
	overflow: hidden;
	margin-bottom: 20px;
}
/*#collectible-add-component .inside .component-view .collectible.add.tag*/
.tag {
	font-size: 0.75em;
	display: inline;
	margin-right: 1em;
	margin-bottom: 1em;
	padding: 5px;
	float: left;
	background-color: #E0EAF1;
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
}
.tag-list .tag:hover {
	background-color: #FDB924;
	color: #000;
}
.tag-list.no-link .tag:hover {
	background-color: #E0EAF1;
}
.tag-list .tag a {
	text-decoration: none;
	color: #656464;
}
.tag-list .tag:hover a {
	color: #000;
}
#collectibletypes-list-component, #manufactures-list-component {
	width: 100%;
}
#collectibletypes-list-component .inside .component-view .view .item, #manufactures-list-component .inside .component-view .view .item {
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
	clear: both;
	width: 100%;
	border-bottom: 1px solid #FDB924;
}
#manufactures-list-component .inside .component-view .manufactures.view .manufacture.item .manufacture.detail .manufacture.name {

}
#collectibletypes-list-component .inside .component-view .view .item .detail .name a, #manufactures-list-component .inside .component-view .manufactures.view .manufacture.item .manufacture.detail .manufacture.name a {
	font-size: 1em;
	font-weight: bold;
	color: #656464;
	text-decoration: none;
}
#collectibletypes-list-component .inside .component-view .view .item .detail .name a:hover, #manufactures-list-component .inside .component-view .manufactures.view .manufacture.item .manufacture.detail .manufacture.name a:hover {
	text-decoration: underline;
}
#collectibletypes-list-component .inside .component-view .manufactures.view .collectibletype.item .collectibletype.detail .collectibletype.specialized-types li, #manufactures-list-component .inside .component-view .manufactures.view .manufacture.item .manufacture.detail .manufacture.collectibletypes li {
	font-size: 0.75em;
	color: #999999;
}
#collectibletypes-list-component .inside .component-view .manufactures.view .collectibletype.item .collectibletype.detail .collectibletype.specialized-types li, #manufactures-list-component .inside .component-view .manufactures.view .manufacture.item .manufacture.collectibletypes li {
	float: left;
	margin-right: 10px;
}
#collectibletypes-list-component .inside .component-view, #manufactures-list-component .inside .component-view {
	overflow: hidden;
	padding-top: 0;
}
/*#collectible-add-component*/
#CollectibleProductWeight, #collectibleHeight, #collectibleWidth, #collectibleDepth {
	width: 100px;
}
#CollectibleMsrp {
	width: 100px;
}
#dialogCost,
#CollectiblesUserEditionSize {
	width: 100px;
}

/*
 #collectibleWidth,
 #collectibleDepth {
 clear: none;
 }
 */
.standard-list, .attributes-list {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.standard-list ul, .attributes-list ul {

	border-left: 1px solid #D8D8D8;
	border-right: 1px solid #D8D8D8;
	border-top: 1px solid #D8D8D8;
}
.standard-list ul li, .attributes-list ul li {
	overflow: hidden;
	border-bottom: 1px solid #E1E1E1;
	padding: 10px;
	color: #606060;
}
.standard-list ul li.title, .attributes-list ul li.title {
	background-color: #EAEAEA;
	border-bottom: 1px solid #D8D8D8;
	color: #999999;
}
.standard-list ul li.title span a.asc {
	background: url("/img/icon/triangle_up.png") no-repeat scroll right center transparent;
	padding-right: 20px;
}
.standard-list ul li.title span a.desc {
	background: url("/img/icon/triangle_down.png") no-repeat scroll right center transparent;
	padding-right: 20px;
}
/* TODO it would make sense to have a common class for these repeats */
.attributes-list ul li .attribute-action, .attributes-list ul li .attribute-label, .attributes-list ul li .attribute-name, .attributes-list ul li .attribute-description, .attributes-list ul li .attribute-status {
	float: left;
	white-space: normal;
}
.attributes-list ul li .attribute-description .edit.attribute.description {
	display: none;
}
.attributes-list ul li .attribute-action a {
	margin-right: 5px;
	cursor: pointer;
}
.standard-list.empty ul, .standard-list.empty ul li, .attributes-list.empty ul, .attributes-list.empty ul li {
	border: none;
}
.standard-list.empty ul li, .attributes-list.empty ul li {
	font-size: 0.75em;
}
/**
 * 	This is the new list code where we put the padding
 * on the spans instead of the li so the text doesn't run
 * together
 */
.attributes-list {
	width: 500px;
}
.attributes-list ul li {
	padding: 0;
}
.attributes-list.empty ul li {
	padding: 10px;
}
.attributes-list ul li span.attribute-label, .attributes-list ul li span.attribute-action, .attributes-list ul li span.attribute-name, .attributes-list ul li span.attribute-description, .attributes-list ul li span.attribute-status {
	padding: 10px;
}
.attributes-list ul li .attribute-label, .attributes-list ul li .attribute-action, .attributes-list ul li .attribute-name {
	width: 100px;
}
.attributes-list ul li .attribute-description {
	width: 200px;
}
#my-stashes-component {
	width: 100%;
}
#my-stashes-component .inside .component-view {
	overflow: hidden;
	padding-top: 0;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
}
#my-stashes-component .inside .component-view .glimpse {
	margin-top: 60px;
	height: 700px;
}
#my-stashes-component .inside .component-title h2 {
	width: 50%;
	clear: none;
	float: left;
}
#my-stashes-component .inside .component-view .tabs div .actions .link.glimpse-link, #my-stashes-component .inside .component-view .tabs div .actions .link.add-stash-link, #my-stashes-component .inside .component-view .tabs div .actions .link.detail-link {
	background: none;
}
#my-stashes-component .inside .component-view .ui-tabs div .actions ul {
	overflow: hidden;
	float: right;
}
#my-stashes-component .inside .component-view .ui-tabs div .actions ul li {
	display: inline;
}
#collectibles-gallery, #photo-gallery {
	margin-top: 50px;
}
.galleria-detail-text .collectible.detail {
	background-color: #000000;
	float: none;
}


.glimpse {
	margin-left: 50px;
	width: 850px;
	overflow: hidden;
}
.glimpse div.line {
	width: 100%;
	float: left;
}
.glimpse div.image {
	float: left;
	padding: 10px;
	border: 3px solid #333333;
	border-radius: 8px 8px 8px 8px;
	margin: 10px;
	height: 150px;
	width: 150px;
	text-align: center;
	/*background-color: #DDD;*/
}
.glimpse div.image a {
	overflow: hidden;
	text-decoration: none;
}
.glimpse div.image a img {

}
.glimpse div.links {
	text-align: right;
	float: left;
	width: 100%;
}
/*#collectible-detail .component-view*/
.collectible.tags {
	float: left;
	width: 100%;
	overflow: hidden;
	margin-top: 10px;
}
/*#collectible-detail .component-view*/
.collectible.tags .tag {
	font-size: 0.75em;
	margin-left: 1em;
	float: left;
	/*background-color: #EAEAEA;*/
}
#collectible-detail {
	width: 100%;
	margin-right: 0;
}
#collectible-detail .inside .component-title h2 {
	clear: none;
	width: 50%;
	float: left;
	font-size: 1.2em;
}
#collectible-detail .component-view {
	overflow: hidden; /* contain floats */
	padding-top: 0;
}
#collectible-detail .component-view .collectible.item {
	border: none;
}
#collectible-detail .component-view .links {
	width: 100%;
	text-align: left;
	margin-bottom: 0.5em;
}
#collectible-detail .component-view .links a {
	font-size: 0.75em;
	margin-left: 1em;
}
#collectible-detail .component-view .collectible.item {
	width: 100%;
	padding: 0;
	margin-top: 5px;
}
#collectible-detail .component-view .collectible.item  .collectible.detail {
	width: 500px;
}
#collectible-detail .component-view .approval-fields {
	float: left;
	width: 100%;
}
#collectible-history-list-component {
	width: 100%;
}
#collectible-history-list-component .inside .component-view .collectible.detail {
	clear: both;
	width: 500px;
}
#collectible-history-list-component .inside .component-view .collectible.detail.collectible-history .standard-list ul li span {
	float: left;
	font-size: 0.75em;
}
#collectible-history-list-component .inside .component-view .collectible.detail.collectible-history .standard-list ul li .user {
	width: 25%;
}
#collectible-history-list-component .inside .component-view .collectible.detail.collectible-history .standard-list ul li .date {
	width: 50%;
}
#collectible-history-list-component .inside .component-view .collectible.detail.collectible-history .standard-list ul li .action {
	width: 25%;
}
#collectible-history-list-component .inside .component-view .history {
	text-align: left;
	font-size: 0.75em;
}
#collectible-history-list-component .inside .component-view .history th, #collectible-history-list-component .inside .component-view .history td {
	padding: 5px;
}
#collectible-detail .component-view .collectible.tags .tag-list, #collectible-detail .component-view .collectible.tags {
	margin-top: 0px;
	margin-bottom: 0px;
}
.stats dl, .collectible.statistics dl, .collectible.detail dl {
	line-height: 2em;
	margin: 0em 0em;
}
.stats dl dt, .collectible.statistics dt, .collectible.detail dl dt {
	color: #606060;
	/*padding-left: 4px;*/
	vertical-align: top;
}
.stats dl dd, .collectible.statistics dd, .collectible.detail dl dd {
	margin-left: 14em;
	margin-top: -2em;
	vertical-align: top;
	color: #999999;
}
.collectible.detail dl dd.changed {
	font-weight: bold;
	color: red;
}
.dialog .component, .dialog .component {
	border: none;
	margin: 0;
}
.dialog .component .inside .component-view {
	padding-top: 0;
}
#home-components .random-collectibles {
	width: 100%;
}
#home-components .random-collectibles .inside .component-view {
	overflow: hidden;
}
#home-components .random-collectibles .inside .component-view .glimpse {
	width: 90%;
}
#home-components .random-collectibles .inside .component-view .collectibles .collectible {
	padding: 5px;
	float: left;
	width: 100%
}
#home-components .random-collectibles .inside .component-view .collectibles .collectible .image {
	float: left;
	width: 100px;
}
#home-components .random-collectibles .inside .component-view .collectibles .collectible .detail {
	float: left;
	margin-left: 1em;
}
#home-components .random-collectibles .inside .component-view .collectibles .collectible .detail p {
	font-size: 0.75em;
}
#home-components .find-by {
	float: right;
	width: 400px;
}
#home-components .find-by .inside .component-view .search-types div ul li a {
	font-size: 0.75em;
}
#home-components .welcome-component .inside .component-view img {
	width: 150px;
}
#home-components .welcome-component .inside .component-view img {
	float: left;
	margin-right: 20px;
}
#home-components .welcome-component .inside .component-view p {
	color: #656464;
}
#home-components .welcome-component .inside .component-view p.heading {
	margin-top: 20px;
}
#home-components .welcome-component .inside .component-view p.body {
	font-size: 0.9em;
}
#registration-component {
	width: 100%;
}
#registration-component .inside .component-view p {
	text-align: center;
}
.container2 {
	margin: 20px 20px 0;
	/* padding:0 0 20px;*/
	/* width:480px;*/
	float: left;
}
.container2 .info {

	border-bottom: 1px dotted #CCCCCC;
	clear: both;
	display: inline-block;
	margin: 0 0 5px;
	padding: 0 1% 1.1em;
	border-bottom-style: dotted;
	border-color: #046380;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
}
.info h2 {
	clear: left;
	font-size: 160%;
	font-weight: normal;
	margin: 0 0 5px;
	color: #000000;
	font-size: 160%;
}
.info div {
	color: #555555;
	font-size: 95%;
	line-height: 135%;
	color: #444444;
	font-size: 0.8em;
}
/** Forms **/
form {
	/*  clear: both;
	 margin-right: 20px;
	 padding: 0;
	 width: 95%;*/
}
/*
 fieldset {
 border: 1px solid #ccc;
 margin-bottom: 1em;
 padding: 16px 20px;
 }
 fieldset legend {
 color: #FDC82F;
 font-size: 160%;
 font-weight: bold;
 }
 fieldset fieldset {
 margin-top: 0px;
 margin-bottom: 20px;
 padding: 16px 10px;
 }
 fieldset fieldset legend {
 font-size: 120%;
 font-weight: normal;
 }
 fieldset fieldset div {
 clear: left;
 margin: 0 20px;
 }
 */
form div {
	/*	clear: both;
	 margin-bottom: 1em;
	 padding: .5em;
	 vertical-align: text-top;           */
}
form .input {
	color: #ccc;
	/*#5B5C5C*/
}
form .required {
	/*font-weight: bold;*/
}
form .required label:after {
	color: #e32;
	content: '*';
	display: inline;
}
form div.submit {
	/*border: 0;
	 clear: both;
	 margin-top: 10px;*/
}
label {
	display: block;
	margin-bottom: 3px;
}
.form-fields input, .form-fields textarea {
	padding: 5px;
}
.form-fields .static-field, .form-fields input, .form-fields textarea {
	clear: both;
	/*font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;*/
	/*	height: 26px;     off for now, is screwin up inptu buttons */

	width: 272px;
}
select {
	clear: both;
	/*font-size: 120%;*/
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	/* font-size: 120%;
	 padding: 0 3px;*/
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
input[type=radio] {
	float: left;
	width: auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=button].button, .ui-dialog .ui-dialog-buttonpane button, input[type=submit], div.actions ul li a.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*
	display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px /100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');*/
}
input[type=button].button:hover, .ui-dialog .ui-dialog-buttonpane button:hover, input[type=submit]:hover {
	text-decoration: none;
	background: -moz-linear-gradient(center top , #757575, #4B4B4B) repeat scroll 0 0 transparent;
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');*/
}
input[type=button].button:active, .ui-dialog .ui-dialog-buttonpane button:active, input[type=submit]:active {
	position: relative;
	top: 1px;
	background: -moz-linear-gradient(center top , #575757, #888888) repeat scroll 0 0 transparent;
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');*/
}
/*
 .nav {
 clear:right;
 float: right;
 font-size:14px;
 list-style:none outside none;

 }
 .nav li {
 float: left;
 }*/
.form-fields {
	font-size: 0.75em;
}
.form-fields li {
	/* width:64%;*/
	clear: both;
	margin: 0;
	padding: 6px 1% 9px;
	width: 100%;
	float: left;
}
.form-fields li .label-wrapper {
	padding: 0 0 3px;
	clear: both;
	float: left;
}
.form-fields li div.checkbox label, .form-fields li .label-wrapper label {
	border: medium none;
	color: #222222;
	font-weight: bold;
	/*line-height:150%;*/
	margin: 0;
	padding: 0;
	display: inline;
	float: left;
}
.form-fields li .label-wrapper .ui-icon {
	float: left;
}
.form-fields li textarea, .form-fields li select, .form-fields li input {
	float: left;
}
.form-fields li select, .form-fields li textarea, .form-fields li input {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #BCBBBB;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
	outline: medium none;
}
.form-fields li .error-message {
	width: 262px;
	padding: 5px;
	clear: both;
	color: #c73e14;;
	font-size: 100%;
	font-weight: bold;
	/*background: #c73e14;*/
}
.form-fields li select {
	letter-spacing: 0;
}
/* collectible-add */

.standard-add, .non-standard-add {
	display: none;
}
.collectible-add.form {
	float: left;
	padding: 0;
	border-left: none;
}
h1 {
	margin: 0;
	padding: 0;
	min-height: 0;
	background-color: #dedede;
	text-indent: -9000px;
	text-decoration: none;
}
h1 a {
	min-height: 40px;
	height: 40px;
	display: block;
	background: url(../images/wflogo.png) no-repeat left top;
	overflow: hidden;
}
* html h1 a {
	_background-image: none;
	_filter: progid :DXImageTransform.Microsoft.AlphaImageLoader(src="../images/wflogo.png", sizingMethod="crop");
}
img, a img {
	border: none;
	-ms-interpolation-mode: bicubic;
}
* html #bottom {
	_behavior: url(../images/iepngfix.htc);
}
.hide, .cloak div {
	display: none !important;
}
/** Paging **/
div.paging {
	color: #ccc;
	margin-top: 1em;
	clear: both;
	float: left;
}
div.paging p {
	font-size: 13px;
}
div.paging span.disabled {
	display: none;
}
div.paging span a {
	background-color: #686868;
	border-radius: 4px 4px 4px 4px;
	color: #FFFFFF;
	font-size: 13px;
	margin-left: 5px;
	padding: 3px 8px;
	text-decoration: none;
}
div.paging span.current {
	background-color: #AAAAAA !important;
	color: #EEEEEE !important;
	cursor: default;
	border-radius: 4px 4px 4px 4px;
	font-size: 13px;
	padding: 3px 8px;
	margin-left: 5px;
}
div.paging span a:hover {
	background-color: #FDB924;
}
/* varian add */

.variant-description {
	display: none;
}
#pending-submissions {

}
#pending-submissions th {
	text-align: left;
}
#home-submissions {
	border: 1px solid #000;
}
#home-submissions h2 {
	border-bottom: 1px solid #000;
}
#home-submissions .info {
	border: none;
	display: block;
}
.ui-widget-content {
	/*background: none;*/

}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	/*background-color: #EFECCF;*/

}
#resizable {
	width: 150px;
	height: 150px;
	padding: 0.5em;
}
#resizable h3 {
	text-align: center;
	margin: 0;
}
#stage .inside .ui-widget-content {
	margin-bottom: 10px;
}
/* Tabs */

.ui-tabs-panel .container2 {
	margin: 0;
	padding: 0;
}
.ui-tabs-panel .container2 .info {
	padding: 0 0 1em 0;
}
#stash-list {

}
#stash-list tr th, #stash-list tr td {
	padding: 0.5em;
}
#stash-list tr td a {
	margin-right: 10px;
}
/* dialog */

.dialog {
	display: none;
}
.dialog .component {
	margin: 0;
}
.ui-dialog .ui-dialog-buttonpane {
	border: none;
}
.add-to-collection {
	cursor: pointer;
	background: url("/img/icon/add_stash_link_25x25.png") no-repeat left top;
	width: 25px;
	height: 27px;
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	text-indent: -99999px;
}
.tooltip {
	-moz-box-shadow: 0 0 10px #000000;
	background-color: #000000;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	display: none;
	font-size: 12px;
	padding: 10px 15px;
	text-align: left;
	width: 200px;
}
#add-attribute-dialog #add-attribute-dialog-fields select {
	float: left;
	clear: both;
}
#stash-list-container .stash-list-details {
	color: #444444;
	font-size: 0.8em;
}
.ui-dialog {
	border: 8px solid #333333;
	border-radius: 8px 8px 8px 8px;
	background: #FFF;
}
.ui-widget-header {
	background: none;
	border: none;
	color: #ccc;
}
.ui-dialog-buttonpane {
	background: #FFF;
}
.ui-tabs-nav.ui-widget-header {
	/*background-color: #464646;	*/
	border-bottom: 1px solid #464646;
	border-radius: 0;
}
.ui-tabs {
	border: none;
	background-color: #FFF;
}
.ui-tabs .ui-state-default {
	background: url("/img/icon/555555_40x100_textures_03_highlight_soft_75.png") repeat-x scroll 50% 50% #555555;
	border: 1px solid #666666;
	color: #FFFFFF;
	font-size: 14px;
	padding: 4px 1.2em 3px;
}
.ui-tabs .ui-state-default a {
	color: #FFFFFF;
	font-weight: normal;
}
.ui-tabs .ui-state-active {
	background: #FFF;
	border: 1px solid #666666;
	outline: medium none;
}
.ui-tabs .ui-state-active a {
	color: #F6921E;
	font-weight: normal;
}
#bread-crumbs {
	width: 100%;
	float: left;
}
#bread-crumbs div {
	display: inline;
	margin-right: 1em;
	padding: 10px;
	float: left;
	color: #999999;
}
#bread-crumbs div.complete a {
	color: #656464;
}
#bread-crumbs div.expected a, #bread-crumbs div.incomplete a {
	color: #999999;
}
#bread-crumbs div.active a {
	color: #656464;
	font-weight: bold;
}
#bread-crumbs div a {
	text-decoration: none;
}
.autocomplete-w1 {
	background: url("/img/shadow.png") no-repeat bottom right;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 6px 0 0 6px; /* IE6 fix: */
	_background: none;
	_margin: 1px 0 0 0;
}
.autocomplete {
	border: 1px solid #999;
	background: #FFF;
	cursor: default;
	text-align: left;
	max-height: 350px;
	overflow: auto;
	margin: -6px 6px 6px -6px; /* IE6 specific: */
	_height: 350px;
	_margin: 0;
	_overflow-x: hidden;
}
.autocomplete .selected {
	background: #F0F0F0;
}
.autocomplete div {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
}
.autocomplete strong {
	font-weight: normal;
	color: #3399FF;
}
.two-column-page {
	width: 100%;
	overflow: hidden;
	margin-top: 1em;
}
.two-column-page .inside {
	padding: 1em;
	overflow: hidden;
}
.two-column-page .inside .actions {
	float: left;
	width: 25%;
}
.two-column-page .inside .actions ul {

}
.two-column-page .inside .actions ul li {
	margin-bottom: 10px;
}
.two-column-page .inside .actions ul li h3 {
	margin-bottom: 5px;
	color: #656464;
	font-size: 1em;
}
.two-column-page .inside .actions ul li ul {
	margin-left: 10px;
}
.two-column-page .inside .actions ul li ul li {
	margin-bottom: 2px;
}
.two-column-page .inside .actions ul li a {
	font-size: 0.9em;
}
.two-column-page .inside .page {
	float: left;
	width: 75%;
}
.two-column-page .inside .page div.title {
	border-bottom: 1px solid #656464;
	overflow: hidden;
	margin-bottom: 1em;
}
.two-column-page .inside .page .title h2 {
	float: left;
	font-weight: bold;
	color: #656464;
}
.two-column-page .inside .page .title.link {
	float: right;
	font-size: 0.75em;
}
/**
 * 	Account/Profile Settings
 */

#account .inside .account.page .account.detail .account.detail.update {
	display: none;
}
#account .inside .account.page .account.detail .account.directional {
	color: #606060;
	margin-top: 10px;
	font-size: 0.75em;
}
#account .inside .account.page .account.page.list {
	width: 100%;
}
#account .inside .account.page .account.page.list li.page.list.item {
	width: 100%;
	border-bottom: 1px solid #000;
	color: #606060;
	overflow: hidden;
	margin-bottom: 0;
}
#account .inside .account.page .account.page.list li .header {
	padding: 1em;
	overflow: hidden;
	font-size: 0.8em;
}
#account .inside .account.page .account.page.list li .header span.page {
	float: left;
}
#account .inside .account.page .account.page.list li .header span.action {
	float: right;
}
#account .inside .account.page .account.page.list li .body {
	width: 100%;
	float: left;
	display: none;
}
#account .inside .account.page .account.page.list li .body .account.detail.update, #account .inside .account.page .account.page.list li .body .account.detail.view {
	display: none;
	padding: 1em;
	overflow: hidden;
}
#account .inside .account.page .account.page.list li .body .account.detail.view .list.empty ul li {
	border: none;
}
#account .inside .account.page .account.page.list li.selected .header .action .link, #account .inside .account.page .account.page.list li.selected .header {
	background-color: #555555;
	color: #E9E9E9;
}
#account-invites .body .account.detail.view .standard-list ul li span {
	float: left;
	width: 50%;
	font-size: 0.75em;
}
#account .inside .page .standard-list.edit-history-list ul li, #account .inside .page .standard-list.collectible-history-list ul li {
	padding: 0;
}
#account .inside .page .standard-list.edit-history-list ul li span, #account .inside .page .standard-list.collectible-history-list ul li span {
	float: left;
	font-size: 0.75em;
	padding: 10px;
}
#account .inside .page .standard-list.edit-history-list, #account .inside .page .standard-list.collectible-history-list {
	width: 743px;
}
#account .inside .page .standard-list.collectible-history-list ul li span {
	width: 128px;
}
#account .inside .page .standard-list.edit-history-list ul li span {
	width: 165px;
}
/**
 * 	Admin section
 */
#admin-edit .inside .page .standard-list ul li span {
	float: left;
	font-size: 0.75em;
}
#admin-edit .inside .page .standard-list.edit-list ul li span.collectible-id {
	width: 20%;
}
#admin-edit .inside .page .standard-list.edit-list ul li span.name, #admin-edit .inside .page .standard-list.edit-list ul li span.action {
	width: 40%;
}
#admin-edit .inside .page .standard-list.collectible-edit-list ul li span.collectible-id {
	width: 10%;
}
#admin-edit .inside .page .standard-list.collectible-edit-list ul li span.user-id {
	width: 25%;
}
#admin-edit .inside .page .standard-list.collectible-edit-list ul li span.type {
	width: 20%;
}
#admin-edit .inside .page .standard-list.collectible-edit-list ul li span.timestamp {
	width: 25%;
}
#admin-edit .inside .page .standard-list.collectible-edit-list ul li span.action {
	width: 20%;
}
#admin-edit .inside .page .collectible.item {
	padding: 0;
	width: 100%;
	border-bottom: none;
}
#admin-edit .inside .page .collectible.item .collectible.detail {
	width: 100%;
}
#admin-edit .inside .page.attributes-approval .links {
	width: 100%;
	float: left;
}
#admin-edit .inside .page.collectibles-approval fieldset {
	width: 100%;
	float: left;
}
/*********************************
 * Collectible Add
 */
#base-collectible .collectible.item {
	padding: 0;
	border: none;
}
#base-collectible .collectible.item .collectible.detail-wrapper {
	float: none;
	width: 100%;
}
#base-collectible .collectible.item .collectible.detail-wrapper .collectible.detail {
	width: 100%;
	margin-left: 0;
}
/*****************************
 * collectible user add
 */
#CollectiblesUserPurchaseDate {
	width: 80px;
}
/***********************************
 * Manufacture Profile
 *
 */

#manufacturer-profile .inside .component-view .licenses .tag-list .tag {
	display: block;
	clear: both;
}
#manufacturer-profile .inside .component-view .stats dl dd {
	margin-left: 18em;
}
/***********************************
 * Registry component
 */
#registry-component .inside .component-view .standard-list {
	width: 250px;
}
#registry-component .inside .component-view .standard-list.edition-size {
	width: 500px;
}
#registry-component .inside .component-view .standard-list ul li span {
	float: left;
	font-size: 0.75em;
}
#registry-component .inside .component-view .standard-list ul li span.username {
	width: 100%;
}
#registry-component .inside .component-view .standard-list.edition-size ul li span.username {
	width: 50%;
}
#registry-component .inside .component-view .standard-list.edition-size ul li span.edition-size {
	width: 50%;
}
/***********************************
 * User List component
 */
#user-list-component .inside .component-view .standard-list {
	width: 100%;
}
#user-list-component .inside .component-view .standard-list ul li span {
	float: left;
	font-size: 0.75em;
}
#user-list-component .inside .component-view .standard-list ul li span {
	width: 25%;
	text-align: center;
}
#user-list-component .inside .component-view .standard-list ul li span.username {
	text-align: left;
}
/***************************************
 * Search filters
 */
#filters {
	float: left;
	width: 100%;
}
#filters .search-query {
	color: #656464;
	font-size: 1em;
	padding-bottom: 0.5em;
	overflow: hidden;
}
#filters .filter {
	background-color: #E9F0F4;
	border: 1px solid #B3CCE2;
	color: #111111;
	cursor: pointer;
	height: 12px;
	margin-right: 8px;
	padding: 9px;
	position: relative;
	border-radius: 5px 5px 5px 5px;
	float: left;
}
#filters .filter.lock {
	color: #AAA;
	cursor: default;
}
#filters .filter .filter-name {
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
	float: left;
}
#filters .filter .filter-name span {
	float: left;
}
#filters .filter .filter-name a {
	float: left;
	position: relative;
	top: -2px;
}
#filters .filter .filter-list-container {
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 3px #CCCCCC;
	display: none;
	position: absolute;
	top: 42px;
	z-index: 100;
	background-color: #656464;
	/*overflow:-moz-scrollbars-vertical!important;!overflow:hidden;*/

}
#filters .filter .filter-list-container .filter-list {
	margin: 10px;
}
#filters .filter.license .filter-list-container .filter-list {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 420px;
}
#filters .filter .filter-list ol {
	background-color: white;
	list-style: none outside none;
	padding: 0;
}
#filters .filter .filter-list ol li:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#filters .filter .filter-list ol li {
	border-bottom: 1px solid #D9D9DB;
	line-height: 20px;
	margin: 0;
	overflow: hidden;
	padding: 10px 15px;
	white-space: nowrap;
	width: 250px;
}
#filters .filter .filter-list ol li:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
#filters .filter .filter-list ol li a {
	color: #0055A4;
	text-decoration: none;
}
/***************************************
 * User Uploads Component
 */
.image div.metadata {
	font-size: 0.6em;
	margin-bottom: 5px;
}
.image div.metadata a {
	cursor: pointer;
	text-align: center;
}
.image div.metadata input.metadata-input {
	text-align: left;
}
.image div.metadata {
	font-size: 0.6em;
	margin-bottom: 5px;
}
.image div.metadata a {
	cursor: pointer;
	text-align: center;
}
.image div.metadata input.metadata-input {
	text-align: left;
}
.image div.metadata.empty, .image div.metadata.empty {
	color: #AAA;
}
.image div.actions {
	font-size: 0.6em;
	visibility: hidden;
}
.image:hover div.actions {
	visibility: visible;
}
#user-upload-component .inside .component-view {

}
#user-upload-component .inside .component-view .image div.metadata, #user-upload-component .inside .component-view .image div.metadata {
	margin-top: 1em;
	font-size: 0.8em;
	text-decoration: none;
}
#user-upload-component .inside .component-view .image div.metadata a, #user-upload-component .inside .component-view .image div.metadata a {
	text-decoration: none;
}
#user-uploads-component .inside .component-view .images .image {
	width: 100px;
	margin: 30px;
	float: left;
	position: relative;
	z-index: 190;
	margin: 30px;
	height: 200px;
}
#user-uploads-component .inside .component-view .images .image .image-container {
	text-align: center;
}
#user-uploads-component .inside .component-view .images .image.image-loader {

}
.upload-component {
	text-align: right;
	width: 100%;
}
.upload-component .stats {
	float: left;
	font-size: 0.6em;
}
.upload-component form {
	background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent;
	border: 1px solid #D2D2D2;
	/*border-radius: 2em 2em 2em 2em;*/
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	display: inline-block;
	padding: 3px 5px;
}
.upload-component form label {
	display: inline-block;
}
.upload-component form input {
	font: 12px /100%;
}
#user-upload-component .inside .component-view .images .image div.metadata  div.metadata-update {
	position: absolute;
	z-index: 1000;
}
#user-upload-component .inside .component-view .image div.description {
	width: 250px;
}
#user-upload-component .inside .component-view .image div.metadata div.metadata-update input.metadata-input {
	display: block;
	margin-bottom: 2px;
	width: 250px;
}
#user-upload-component .inside .component-view .image div.metadata div.metadata-update .error-message {
	display: block;
}
#user-upload-component .inside .component-view .image div.metadata div.metadata-update input.cancel-button {
	margin-left: 5px;
}
#user-upload-component .inside .component-view .image div.metadata div.metadata-update input.cancel-button, #user-upload-component .inside .component-view .image div.metadata div.metadata-update input.add-button {
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	display: inline-block;
	font: 14px /100% Arial, Helvetica, sans-serif;
	outline: medium none;
	padding: 0.5em 2em 0.55em;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;
	width: 20px;
}
#user-upload-component .inside .component-view .image div.metadata div.metadata-update input.cancel-button, #user-upload-component .inside .component-view .image div.metadata div.metadata-update input.add-button, .upload-component form .add-button {
	background: -moz-linear-gradient(center top , #9E9E9E, #454545) repeat scroll 0 0 transparent;
	border: 1px solid #494949;
	/*border-radius: 2em 2em 2em 2em;*/
	color: #FFFFFF;
	font-size: 11px;
	height: 27px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.actions.icon {
	overflow: hidden;
	float: right;
	background-color: #656464;
	
	border-radius: 3px;
}

.actions.icon ul {
    float: right;
    overflow: hidden;
}

.actions.icon ul li {
    display: inline;
    float: left;
    padding: 5px;
}