.jumbotron:after {
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	opacity: 0.4;
	position: absolute;
	right: 0;
	top: 0;
}

.jumbotron {
	background: url("/img/tile.png") repeat scroll 0 0 #444444;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px rgba(0, 0, 0, 0.2) inset;
	color: #FFFFFF;
	padding: 40px 0;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}
.jumbotron .container {
	position: relative;
	z-index: 2;
}

.home {
	text-align: center;
}


.home p {
	font-size: 16px;
	line-height: 1.5;
}

.masthead {
	color: #FFFFFF;
	margin-bottom: 0;
	padding: 70px 0 80px;
}

.masthead h1 {
	color: #FFFFFF;
	font-size: 120px;
	letter-spacing: -2px;
	line-height: 1;
	font-weight: bold;
}

.masthead p {
	font-size: 40px;
	font-weight: 200;
	line-height: 1.25;
}


