body {
	/*background: none repeat scroll 0 0 #F1F1F1;
	 padding: 80px;*/
}
.footer .logo {
	float: right;
}
.footer .version {
	padding-left: 20px;
	float: left;
}
.social {
	float: left;
}
.social div {
	padding: 5px;
	float: left;
	vertical-align: top;
}

.social div .fb_iframe_widget iframe {
	position: static;
}
.footer .links {
	margin-right: 30px;
	float: right;
}
.footer .links li {
}

.footer .copyright {
	float: right;
	padding-right: 20px;
}
.inside {
	padding: 5px;
}

.fb_iframe_widget iframe {

}
.container, .container-fluid {
	margin-top: 80px;
}