/**
 * The Holier Grail Website Layout Framework
 * @author    Bill Brown <mailto:macnimble@gmail.com>
 * @copyright None really.
 *            You may use The Holier Grail freely, for any project.
 *            Just please don't claim credit for creating it.
 * @timestamp 2008-MAR-10 2:40 AM
 *
 * @page      CSS Reset
 *
 * @note      Eric Meyer's global reset included below (modified).
 */

HTML {
	margin: 0;
	padding: 0;
}
BODY {
	margin: 0;
	padding: 0;
}

#headFrame hr, #headFrame h2, #mainFrame hr, #mainFrame h2, #moreFrame hr, #moreFrame h2, #menuFrame hr, #menuFrame h2, #footFrame hr, #footFrame h2 {
	display: none;
}
#headFrame div.panel hr, #headFrame div.panel h2, #mainFrame div.panel hr, #mainFrame div.panel h2, #moreFrame div.panel hr, #moreFrame div.panel h2, #menuFrame div.panel hr, #menuFrame div.panel h2, #footFrame div.panel hr, #footFrame div.panel h2 {
	display: block;
}

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 0.5em;
}

/*input,select,option,optgroup,textarea,button{font-size:1em;}*/

body {
	line-height: 1;
}
/*
ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	background: #ffffe1;
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
