/app/config
/app/tmp
/lib
/app/webroot/user_uploads
/app/webroot/files
/.htaccess
/.project
/README
/app.rar
/index.php
/testmysql.php
/app/Vendor/File
/app/Vendor/PHP
/app/Vendor/PHPUnit
/app/Vendor/Symfony
/app/Vendor/Text
/app/webroot/bower_components
/node_modules
/app/webroot/dist
/app/webroot/dist-prep
/vendor