/app/config
/app/tmp
/lib
/app/webroot/user_uploads
/app/webroot/files
/.htaccess
/.project
/README
/app.rar
/index.php
/testmysql.php
/vendors/File
/vendors/PHP
/vendors/PHPUnit
/vendors/Symfony
/vendors/Text