<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="icon-time"></i> Recent Activity</h3>		
	</div>
	<div class="panel-body activities-container widget-users-activity">
		<div class="activities _activities">

		</div>
	</div>
	{{#showMore}}
	<div class="panel-footer">
		<button type="button" class="btn btn-primary btn-lg btn-block _next" data-loading-text="Loading..." >Show More</button>
	</div>
	{{/showMore}}
</div>

