
<!--For the title, we need to construct: User verb object target-->
<span class="pull-right">
{{data.fancyDate}}
</span>
<i class="fa fa-clock"></i>
<img alt="" src="/img/icon/avatar.png">
<div>
	{{#data.actor.url}}	
		<span class="actor"><a href="/stash/{{actor.url}}">{{{data.actor.displayName}}} </a></span>
	{{/data.actor.url}}	
	{{^data.actor.url}}
		<span class="actor">{{{data.actor.displayName}}} </span>
	{{/data.actor.url}}	
	<!-- verb -->
	<span class="verb">{{data.verb_displayName}}</span>
	<!-- target -->

	{@if cond="( '{Activity.activity_type_id}' === '12' )"}
		edited 
		{@if cond="( '{Activity.data.target.displayName}' === null )"}
			Collectible
		{:else}
			<a href="{Activity.data.target.url}">{Activity.data.target.displayName|s}</a>
		{/if}
	{:else}
		{@if cond="( '{Activity.activity_type_id}' === '7' )"}
			<span class="verb">submitted </span>
		{:else}
			{@if cond="( '{Activity.data.verb}' === 'add' || '{Activity.data.verb}' === 'submit' || '{Activity.data.verb}' === 'approve' || '{Activity.data.verb}' === 'remove')"}
				{@if cond="( '{Activity.data.verb}' === 'add' )"}
					<span class="verb">added </span> 
				{/if}
				{@if cond="( '{Activity.data.verb}' === 'submit' )"}
					<span class="verb">submitted </span> 
				{/if}
				{@if cond="( '{Activity.data.verb}' === 'approve' )"}
					<span class="verb">approved </span> 
				{/if}
				{@if cond="( '{Activity.data.verb}' === 'remove' )"}
					<span class="verb">removed </span> 
				{/if}
			{:else}
				<span class="verb">{Activity.data.verb} </span> 
			{/if}
			
		{/if}
		<!-- Checking for edit here because we don't want default behavior-->
		{@if cond="( '{Activity.data.object.objectType}' === 'photo' ||  '{Activity.data.object.objectType}' === 'collectible' ||  '{Activity.data.object.objectType}' === 'attribute' || '{Activity.data.object.objectType}' === 'edit' || '{Activity.data.object.objectType}' === 'tag' || '{Activity.data.object.objectType}' === 'artist' || '{Activity.data.object.objectType}' === 'listing' )"}
			<!-- TODO: We need to find type collectible and type id === 6 and handle both new and old format -->
			{@if cond="( '{Activity.data.object.objectType}' === 'photo' )"}
				{@if cond="( '{Activity.activity_type_id}' === '12' )"}
					<!-- need to handle old format, that does not contain the name -->
					{@if cond="( '{Activity.data.object.url}'.indexOf('.') !== -1)"}
						<a href="{Activity.data.object.url}">{Activity.data.object.objectType|s}</a>
					{:else}
						<a href="{Activity.data.object.url}{Activity.data.object.data.name}">{Activity.data.object.objectType|s}</a>
					{/if}
				{:else}
					{Activity.data.object.objectType} 
				{/if}
			
			{/if}
			
			{@if cond="( '{Activity.data.object.objectType}' === 'collectible' )"}
				<a href="{Activity.data.object.url}">{Activity.data.object.data.Collectible.displayTitle|s}</a>
			{/if}
	
			{@if cond="( '{Activity.data.object.objectType}' === 'attribute' )"}
				<a href="{Activity.data.object.url}"> part {Activity.data.object.data.Attribute.name|s}</a>
			{/if}
			
			{@if cond="( '{Activity.data.object.objectType}' === 'tag' )"}
				<a href="/collectibles/search/?t={Activity.data.object.data.Tag.id}"> tag {Activity.data.object.data.Tag.tag|s}</a>
			{/if}
			
			{@if cond="( '{Activity.data.object.objectType}' === 'artist' )"}
				<a href="/artist/{Activity.data.object.data.Artist.id}/{Activity.data.object.data.Artist.slug}"> artist {Activity.data.object.data.Artist.name|s}</a>
			{/if}

			{@if cond="( '{Activity.data.object.objectType}' === 'edit' )"}
				edit
			{/if}
			
			{@if cond="( '{Activity.data.object.objectType}' === 'listing' )"}
				<a target="_blank" href="{Activity.data.object.data.Listing.url}"> listing</a>
			{/if}
		
		{:else}
			{Activity.data.object.objectType} 
		{/if}
		
		{@eq key="{Activity.data.isTarget}" value="true" type="boolean"} 
			{@if cond="( '{Activity.data.verb}' === 'approve' ||  '{Activity.data.verb}' === 'remove' )"}
				{@if cond="( '{Activity.data.verb}' === 'approve' )"}
					submitted by 
				{/if}
				
				{@if cond="( '{Activity.data.verb}' === 'remove' )"}
					from
				{/if}
			{:else}
				to 
			{/if} 
			
			{@empty cond="{Activity.data.target.displayName}"}
				{@if cond="( '{Activity.data.target.objectType}' === 'collectible' )"}
					<a href="{Activity.data.target.url}">Collectible</a>
				{/if}
				{@if cond="( '{Activity.data.target.objectType}' === 'attribute' )"}
					<a href="{Activity.data.target.url}">Part</a>
				{/if}					
			{:else}
				<a href="{Activity.data.target.url}">{Activity.data.target.displayName|s}</a>
			{/empty}
		
		{/eq} 
	{/if}
</div>

