<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="icon-time"></i> Recent Activity</h3>		
	</div>
	<div class="panel-body activities-container widget-users-activity">
		<div class="activities _activities">

		</div>
	</div>
</div>

