<div class="carousel-inner">
	<div class="item active">
		<div class="row thumbnails">
			
		
		</div>
	</div>
</div>
{{#showPrevious}}
	<a data-slide="prev" href="#myCarousel" class="left previous carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a>
{{/showPrevious}}

{{#showNext}}
<a data-slide="next" href="#myCarousel" class="right next carousel-control"><span class="glyphicon glyphicon-chevron-right"></a>

{{/showNext}}