<h3>Comments</h3>
{{#permissions.add_comment}}<button type="button" class="btn btn-primary _addcomment"><i class="fa fa-comments"></i> Add Comment</button>{{/permissions.add_comment}}
<button title="Sort by time posted" class="btn btn-default _sort"><i class="fa fa-sort"></i> Time Posted</button>
<ol class="fancy-comments _comments">
</ol>
{{#permissions.add_comment}}<button type="button" class="btn btn-primary _addcomment"><i class="fa fa-comments"></i> Add Comment</button>{{/permissions.add_comment}}