	{{! <img class="pic img-circle commenter-avatar" src="http://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/twDq00QDud4/s120-c/photo.jpg" alt="..."> }}
	<div class="commenter-avatar blockie"></div>

	<p class="comment-byline">
		<span class="commenter-name"><a href="http://ethan.heroku.com/">{{User.username}}</a></span>
		<time datetime=""><a href="/comments/responsive-web-design#328883">{{formatted_created}}</a></time>
	</p>
	<div class="comment-body">
		<p>{{{comment}}}</p>
	</div>	
	<div class="comment-actions">
		{{#permissions.edit}}
			<button class="btn btn-link _edit">Edit</button>
		{{/permissions.edit}}
		{{#permissions.remove}}
			<button class="btn btn-link _remove">Remove</button>
		{{/permissions.remove}}
	</div>			
