<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×
        </button>
        <h4 id="myModalLabel">Add Comment</h4>
    </div>
    <div class="modal-body">
        {{#errors}}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">
            &times;
            </button>
            <h4>Oops! Something went wrong.</h4>
            <ul>
                {{#errors}}
                    {{^inline}}
                        {{#message}}
                        <li>
                            {{.}}
                        </li>
                        {{/message}}
                    {{/inline}}
                {{/errors}}
            </ul>
        </div>
        {{/errors}}
        <form>
            <div class="form-group {{#inlineErrors.edition_size}}has-error{{/inlineErrors.edition_size}}">
                <label class="control-label" for="Comment">Comment</label>
                    <textarea id="Comment" class="form-control" maxlength="1000" name="comment">{{{comment}}}</textarea>
                        {{#inlineErrors.comment}}
                            <span class="help-inline">{{inlineErrors.comment}}</span>
                        {{/inlineErrors.comment}}
            </div>  
        </form>    
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
        Close
        </button>
        <button class="btn btn-primary save" data-loading-text="Saving..." autocomplete="off">
        Comment
        </button>
    </div>
</div>
