<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×
        </button>
        <h4 id="myModalLabel">Add Comment</h4>
    </div>
    <div class="modal-body">
        <div class="_globalError"></div>
        <form>
            <div class="form-group">
                <label class="control-label" for="Comment">Comment</label>
                <textarea id="Comment" class="form-control" maxlength="1000" name="comment">{{{comment}}}</textarea>
            </div>  
        </form>    
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
        Close
        </button>
        <button class="btn btn-primary save" data-loading-text="Saving..." autocomplete="off">
        Comment
        </button>
    </div>
</div>
