<tr class="template-download fade">
    <td>
        <span class="preview">
            {{#thumbnailUrl}}
                <a href="{{url}}" title="{{name}}" download="{{name}}" data-gallery><img src="{{thumbnailUrl}}"></a>
            {{/thumbnailUrl}}
        </span>
    </td>
    <td>
        <p class="name">
            {{#url}}
                <a href="{{url}}" title="{{name}}" download="{{name}}" {{#thumbnailUrl}}data-gallery{{/thumbnailUrl}}>{{name}}</a>
            {{/url}}
            {{^url}}
                <span>{{name}}</span>
            {{/url}}
        </p>
        {{#error}}
            <div><span class="label label-danger">Error</span> {{error}}</div>
        {{/error}}
        {{#pending}}
            <div><span class="label label-warning">{{pendingText}}</span></div>
        {{/pending}}
    </td>
    <td>
        <span class="size">{{fmtFileSize}}</span>
    </td>
    <td>
        {{#allowDelete}}{{#deleteUrl}}
            <button class="btn btn-danger delete" data-type="{{deleteType}}" data-url="{{deleteUrl}}">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Delete</span>
            </button>
        {{/deleteUrl}}{{/allowDelete}}    
        {{^deleteUrl}}
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
            </button>
        {{/deleteUrl}} 
    </td>
</tr>
