<tr class="template-upload fade">
    <td><span class="preview"></span></td>
    <td class="name"><p class="name">{{name}}</p><strong class="error text-danger"></strong></td>
    <td class="size">{{fmtFileSize}}</td>
    <td>
        <p class="size">Processing...</p>
        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
    </td>
{{#i}}
    <td class="error" colspan="2">{{error}}</td>
    <td>
        <button class="btn btn-warning cancel">
            <i class="icon-ban-circle icon-white"></i>
            <span>Cancel</span>
        </button>
    </td>    
{{/i}}
{{^i}}
        <td>
            <div class="progress">
                <div class="bar" style="width:0%;"></div>
            </div>
        </td>
        <td>
            <button class="btn btn-primary start" {{#options.autoUpload}}disabled{{/options.autoUpload}}>
                <i class="icon-upload icon-white"></i>
                <span>Start</span>
            </button>
        </td>
    <td>
        <button class="btn btn-warning cancel">
            <i class="icon-ban-circle icon-white"></i>
            <span>Cancel</span>
        </button>
    </td>
{{/i}}
</tr>
