<p>Is this part duplicated by another part?  Find the part that it is duplicated by.  This part will be will be replaced by the one you select.  The part will maintain its count and still be linked to this collectible.</p>


<p><strong>This part</strong></p>
<div class="row details">
	<div class="col-md-1">
		{{#part.AttributesUpload}}
			{{#primary}}
				<a data-gallery="gallery" href="/{{uploadDirectory}}/{{Upload.name}}" class="thumbnail">
					<img class="img-responsive" src="/{{uploadDirectory}}/{{Upload.name}}" resizetype="strict" alt="">
				</a>
			{{/primary}}
		{{/part.AttributesUpload}}
		{{^part.AttributesUpload}}
			<a target="_blank" href="" class="thumbnail"><img alt="" src="/img/no-photo.png"></a>
		{{/part.AttributesUpload}}			
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-12">
				<span class="name">{{part.name}}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{part.Scale.scale}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{part.description}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<span class="label label-default">{{part._label}}</span>
			</div>
		</div>
	</div>
</div>

<p><strong> is duplicated by </strong></p>

{{#replacementPart}}
<div class="row details">
	<div class="col-md-1">
		{{#replacementPart.AttributesUpload}}
			{{#primary}}
				<a data-gallery="gallery" href="/{{uploadDirectory}}/{{Upload.name}}" class="thumbnail">
					<img class="img-responsive" src="/{{uploadDirectory}}/{{Upload.name}}" resizetype="strict" alt="">
				</a>
			{{/primary}}
		{{/replacementPart.AttributesUpload}}
		{{^replacementPart.AttributesUpload}}
			<a target="_blank" href="" class="thumbnail"><img alt="" src="/img/no-photo.png"></a>
		{{/replacementPart.AttributesUpload}}			
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-12">
				<span class="name">{{replacementPart.name}}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{replacementPart.Scale.scale}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{replacementPart.description}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<span class="label label-default">{{replacementPart._label}}</span>
			</div>
		</div>
	</div>
</div>
{{/replacementPart}}
{{^replacementPart}}
<p>No replacement selected.</p>
{{/replacementPart}}

<div class='component-message error'>
	<span></span>
</div>

<form accept-charset="utf-8" method="post" id="AttributeRemoveForm" data-form-model="Attribute" action="/attributes?url=attributes">
	<fieldset>
		<div class="control-group">
			<div class="controls">
				<div class="btn-group">
					<button id="select-attribute-link" class="btn btn-default submit" type="button">
						{{#replacementPart}}Change part{{/replacementPart}}{{^replacementPart}}Search for part{{/replacementPart}}
					</button>
				</div>
				<input id="AttributesCollectibleAttributeId" type="hidden" value="{id}" name="data[AttributesCollectible][attribute_id]">
			</div>
		</div>
	</fieldset>
</form>

<div class="btn-group spacer">
	<button type="button" class="btn btn-primary _remove" {{^replacementPart}}disabled="disabled"{{/replacementPart}}>Remove</button>
	<button type="button" class="btn btn-default _cancel">Cancel</button>
</div>