<div class="col-md-12">
	<div class="row">
		<div class="col-md-10">
			{{#isNew}}
			<span><i class="fa fa-plus"></i></span>
			{{/isNew}}

			{{^isNew}}
			<a title="click to see more information" target="_blank" href="/part/{{part.id}}"><i class="fa fa-info-circle"></i></a>
			{{/isNew}}
			<span class="path">{{part.AttributeCategory.path_name}}</span>
		</div>
		<div class="col-md-2 count">
			{{#collectible.custom}}
				<span class="label label-warning">{{attribute_collectible_type_label}}</span>
			{{/collectible.custom}}
			<span class="badge">{{count}}</span>
		</div>
	</div>

	<div class="row details">
		<div class="col-md-1">
			{{#part.photos}}
				{{#primary}}
					<a data-gallery="gallery" href="/{{uploadDirectory}}/{{Upload.name}}" class="thumbnail">
						<img class="img-responsive" src="/{{uploadDirectory}}/{{Upload.name}}" resizetype="strict" alt="">
					</a>
				{{/primary}}
			{{/part.photos}}
			{{^part.photos}}
				<a href="#" class="thumbnail"><img alt="" src="/img/no-photo.png"></a>
			{{/part.photos}}			
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<span class="name">{{part.name}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{part.Scale.scale}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{part.description}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<span class="label label-default">{{part._label}}</span>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			{{^isNew}}
			<div class="btn-group actions pull-right">
				<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"> Action <span class="caret"></span> </a>
				<ul class="dropdown-menu">
					<li>
						<a class="link _edit-part-collectible" title='Edit Collectible Part'>Edit Collectible Part</a>
					</li>
					<li>
						<a class="link _edit-part" title='Edit Part'>Edit Part</a>
					</li>
					<li>
						<a class="link _edit-part-photo" title='Edit Part Photos'>Edit Part Photos</a>
					</li>
					<li>
						<a class="link _remove-part" title='Remove Collectible Part'>Remove Part From Collectible</a>
					</li>
					{{#allowRemoveAttribute}}
					<li>
						<a class="link _remove-part-duplicate" title='Duplicate Part'>Duplicate</a>
					</li>
					{{/allowRemoveAttribute}}
				</ul>
			</div>
			{{/isNew}}
			{{#isNew}}
				<span class="label label-default">This part has been submitted for approval.</span>
			{{/isNew}}
			{{#hasEdit}}{{^isNew}}
				<span class="label label-default">An edit for this part has been submitted.</span>
			{{/isNew}}{{/hasEdit}}
		</div>

	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="pull-right">
				{{Revision.User.username}} - {{part.modified}}
			</div>
		</div>
	</div></div>