<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h4 id="myModalLabel">Remove Part From Collectible</h4>
	</div>
	<div class="modal-body">
		<div class='component-message error'>
			<span></span>
		</div>
		<p>Removing the part from the collectible will unlink the relationship.  The part will still exist and can be added to other collectibles unless this is the only collectible that this part is linked to, then it will be deleted.</p>
		<form>
			<fieldset>
				<div class="form-group">
					<label for="AttributeReason">Reason</label>
					<textarea required="true" name="reason" id="AttributesCollectibleReason" class="form-control"></textarea>
				</div>
			</fieldset>
		</form>
	</div>

	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
			Close
		</button>
		<button class="btn btn-primary save" autocomplete="off">
			Submit
		</button>
	</div>
</div>
