<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h4 id="myModalLabel">Edit Company</h4>
	</div>
	<div class="modal-body">
		<h2>{{{title}}} 
		{{#url}}		
			<small>{{{{url}}}</small>
		{{/url}}	
		</h2>	
		{{#photo}}
			<div class="row">
			  <div class="col-xs-6 col-md-3">
			    <a href="javascript:void(0);" class="thumbnail">
			      <img src="{{photo.url}}">
			    </a>
			  </div>
			  ...
			</div>		
		{{/photo}}
		{{#bio}}
		<p>{{{bio}}}</p>
		{{/bio}}
		<form class="form-horizontal spacer">
			<fieldset>
				<legend>
					Brands
				</legend>
				<div class="form-group">
					<label class="control-label col-lg-2 " for="inputManBrand">Brand</label>
					<div class="input-group col-lg-10">
						<div class="">
							<input type="hidden" class="bigdrop select2-offscreen company-typeahead typehead-add" value="" style="width: 100%;" name="name" tabindex="-1" title="">
							{{! <input id="inputManBrand" class="form-control typeahead" type="text" value="" name="brand" maxlength="200" autocomplete="off"> }}
						</div>
						<span class="input-group-btn">
							<button class="btn btn-primary manufacturer-brand-add" type="button">
								Add
							</button>
						</span>
						<span class="help-block input-man-brand-error"></span>
					</div>
				</div>
				<ul class="manufacturer-brands list-group spacer">
					{{#LicensesManufacture}}
					<li class="list-group-item">
						{{License.name}}
					</li>
					{{/LicensesManufacture}}
				</ul>
			</fieldset>
		</form>
	</div>

	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
			Close
		</button>
		<button class="btn btn-primary save" autocomplete="off">
			Add
		</button>
	</div>
</div>