<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h4 id="myModalLabel">Edit the Collectible's Part</h4>
	</div>
	<div class="modal-body">
		<div class='component-message error'>
			<span></span>
		</div>
		<form>
			<fieldset class="attribute-inputs">
				<legend>
					Part Details
				</legend>
				{{#collectible.custom}}{{^isMass}}
					<div class="radio">
						<label>
						<input type="radio" class="attribute-type" name="type" id="optionsRadios1" value="custom" {@eq key="{Attribute.type}" value="custom"}checked{/eq}>
						I made this part.</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" class="attribute-type" name="type" id="optionsRadios2" value="original"  {@eq key="{Attribute.type}" value="original"}checked{/eq}>
							This is an original part, commissioned by someone else.</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" class="attribute-type" name="type" id="optionsRadios3" value="generic"  {@eq key="{Attribute.type}" value="generic"}checked{/eq}>
							This is a generic part.  I do not know where it came from.</label>
					</div>
				{{/isMass}}{{/collectible.custom}}
				
				<div class="form-group">
					<div class="btn-group">
						<button  class="btn btn-default submit select-category" type="button">
							{{#attribute_category_id }}
								{{AttributeCategory.path_name}}
							
							{{/attribute_category_id}}
							{{^attribute_category_id }}
								Category
							{{/attribute_category_id}}
						</button>
					</div>
					<input type="hidden" id="AttributeAttributeCategoryId" name="attribute_category_id" value="{{attribute_category_id}}">
				</div>
				<div class="category-container">

				</div>
				<div class="form-group">
					<label class="control-label" for="AttributeName">Name</label>
					<input type="text" required="required" id="AttributeName" class="form-control" maxlength="200" name="name" value="{{name}}">
				</div>
				<div class="form-group">
					<label class="control-label" for="AttributeDescription">Description</label>
					<textarea required="required" id="AttributeDescription" class="form-control" rows="6" cols="30" name="description">{{description}}</textarea>
				</div>
				<div class="form-group _manufacturer">
					<label class="control-label" for="AttributeManufactureId">Manufacturer</label>
					<select id="AttributeManufactureId" class="form-control" name="manufacture_id">
						<option value=""></option>
						{{#manufacturers}}
							<option value="{{id}}">{{title}}</option>
						{{/manufacturers}}
					</select>
				</div>

				<div class="form-group _artist">
					<label class="control-label" for="AttributeArtistId">Artist</label>
					<select id="AttributeArtistId" class="form-control" name="artist_id">
						<option value=""></option>
						{{#artists}}
						<option value="{{Artist.id}}">{{Artist.name}}</option>
						{{/artists}}
					</select>
				</div>

				<div class="form-group _scale">
					<label class="control-label" for="AttributeArtistId">Scale</label>
					<select id="AttributeScaleId" class="form-control" name="scale_id">
						<option value=""></option>
						{{#scales}}
						<option value="{{Scale.id}}">{{Scale.scale}}</option>
						{{/scales}}
					</select>
				</div>

			</fieldset>
			{{#showCount}}
			<fieldset class="attribute-collectible-inputs">
				<legend>
					Collectible Part Details
				</legend>
				<div class="form-group">
					<label class="control-label" for="AttributesCollectibleCount">Count</label>
					<input type="number" name="count" data-name="count" id="AttributesCollectibleCount" class="form-control" value="{{count}}"/>
				</div>
			</fieldset>	
			{{/showCount}}

		</form>
	</div>

	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
			Close
		</button>
		<button class="btn btn-primary save" autocomplete="off">
			Submit
		</button>
	</div>
</div>
