<h3>Part</h3>
{{#hasPart}}
<table class="table table-borderless">
	<tr>
		<td style="min-width: 100px; max-width: 100px;">
			{#AttributesUpload uploadDirectory=uploadDirectory}
			{#primary uploadDirectory=uploadDirectory fileName=Upload.name}
			<a class="thumbnail col-md-12" data-gallery="gallery" href="/{uploadDirectory}/{fileName}"><img src="/{uploadDirectory}/{fileName}" alt=""></a>
			{/primary}
			{:else}
			<a class="thumbnail col-md-12" href="#"><img src="/img/no-photo.png" alt=""></a>
			{/AttributesUpload}
		</td>
		<td>{path_name}</td>
		<td>{name}</td>
		<td>{description}</td>
		<td>{Manufacture.title}</td>
		<td>{Scale.scale}</td>
	</tr>

</table>
{{/hasPart}}

<div class='component-message error'>
	<span></span>
</div>
<div class="attribute-form">
	<form id="AttributesCollectibleAddForm" accept-charset="utf-8" method="post" data-form-model="AttributesCollectible" action="/collectibles/edit/676?url=collectibles%2Fedit%2F676">
		<fieldset>
			<div class="form-group">
				<div class="btn-group">
					<button id="select-attribute-link" class="btn btn-default submit" type="button">
						Find By Collectible
					</button>
					<button id="select-attribute-link-by-part" class="btn btn-default delete" type="button">
						Find By Part
					</button>
				</div>
				<input id="AttributesCollectibleAttributeId" type="hidden" value="{id}" name="data[AttributesCollectible][attribute_id]">
			</div>
			{{#collectible.custom}}
				<div class="form-group">
					<label class="control-label" for="AttributesCollectibleAttributeCollectibleTypeId">Status</label>
					<select id="AttributesCollectibleAttributeCollectibleTypeId" class="form-control" data-type="AttributesCollectible" data-name="attribute_collectible_type_id" name="data[AttributesCollectible][attribute_collectible_type_id]">
						<option value="1">Owned</option>
						<option value="2">Wanted</option>
						<option value="3">Preordered</option>
					</select>
				</div>		
			{{/collectible.custom}}
			<div class="form-group">
				<label class="control-label" for="inputManUrl">Count</label>
				<input id="AttributesCollectibleCount" class="form-control" type="number" required="required" name="data[AttributesCollectible][count]">
			</div>
		</fieldset>
	</form>
</div>
