<h3>Part</h3>
{{#hasPart}}
<table class="table table-borderless">
	<tr>
		<td style="min-width: 100px; max-width: 100px;">
            {{#part.AttributesUpload}}
                {{#primary}}
                    <a data-gallery="gallery" href="/files/{{Upload.name}}" class="thumbnail">
                        <img class="img-responsive" src="/files/{{Upload.name}}" resizetype="strict" alt="{{Attribute.name}}">
                    </a>
                {{/primary}}
            {{/part.AttributesUpload}}
            {{^part.AttributesUpload}}
                <a target="_blank" class="thumbnail"><img alt="" src="/img/no-photo.png"></a>
            {{/part.AttributesUpload}}
		</td>
		<td>{{part.path_name}}</td>
		<td>{{{part.name}}}</td>
		<td>{{{part.description}}}</td>
		<td>{{part.Manufacture.title}}</td>
		<td>{{part.Scale.scale}}</td>
	</tr>

</table>
{{/hasPart}}

<div class='component-message error'>
	<span></span>
</div>
<div class="attribute-form">
	<form id="AttributesCollectibleAddForm" accept-charset="utf-8" method="post" data-form-model="AttributesCollectible" action="/collectibles/edit/676?url=collectibles%2Fedit%2F676">
		<fieldset>
			<div class="form-group">
				<div class="btn-group">
					<button id="select-attribute-link" class="btn btn-default submit" type="button">
						Search for part
					</button>
				</div>
				<input id="AttributesCollectibleAttributeId" type="hidden" value="{id}" name="data[AttributesCollectible][attribute_id]">
			</div>
			{{#collectible.custom}}
				<div class="form-group">
					<label class="control-label" for="AttributesCollectibleAttributeCollectibleTypeId">Status</label>
					<select id="AttributesCollectibleAttributeCollectibleTypeId" class="form-control" data-type="AttributesCollectible" data-name="attribute_collectible_type_id" name="data[AttributesCollectible][attribute_collectible_type_id]">
						<option value="1">Owned</option>
						<option value="2">Wanted</option>
						<option value="3">Preordered</option>
					</select>
				</div>		
			{{/collectible.custom}}
			<div class="form-group">
				<label class="control-label" for="inputManUrl">Count</label>
				<input id="AttributesCollectibleCount" class="form-control" type="number" required="required" name="count">
			</div>
		</fieldset>
	</form>
</div>
<div class="btn-group">
	<button type="button" class="btn btn-primary _add">Add</button>
	<button type="button" class="btn btn-default _cancel">Cancel</button>
</div>