<form role="form">
	<fieldset>
		<div class="input-group col-lg-6">
			<div class="">
				{{! <input autocomplete="off" type="text" class="form-control typeahead" id="inputArtist" name="name" value=""> }}
				<input type="hidden" class="bigdrop select2-offscreen artists-typeahead" value="" name="name" tabindex="-1" title="">
			</div>
			<span class="input-group-btn">
				<button class="btn btn-primary add-artist" type="button">
					Add
				</button>
			</span>
		</div>
		<span class="help-block inline-error"></span>
	</fieldset>
</form>
