<!-- Put user info first, then use this for stash information -->
<div class="list-group">
    <a href="" class="list-group-item visitor">
        <h3 class="pull-right">
            <i class="fa fa-eye"></i>
        </h3>
        <h4 class="list-group-item-heading count">{{owned}}</h4>
        <p class="list-group-item-text">
            Stashed</p>
    </a>
    <a href="" class="list-group-item visitor" title="this includes history">
        <h3 class="pull-right">
            <i class="fa fa-eye"></i>
        </h3>
        <h4 class="list-group-item-heading count">{{collectibles_user_count}}</h4>
        <p class="list-group-item-text">
            Total stashed</p>
    </a>
    <a href="" class="list-group-item facebook-like">
        <h3 class="pull-right">
            <i class="fa fa-facebook-square"></i>
        </h3>
        <h4 class="list-group-item-heading count">{{collectibles_wish_list_count}}</h4>
        <p class="list-group-item-text">
            Wish List</p>
    </a>
    <a href="" class="list-group-item facebook-like">
        <h3 class="pull-right">
            <i class="fa fa-facebook-square"></i>
        </h3>
        <h4 class="list-group-item-heading count">{{sale}}</h4>
        <p class="list-group-item-text">
            Collectibles for sale</p>
    </a>
    <a href="" class="list-group-item google-plus">
        <h3 class="pull-right">
            <i class="fa fa-google-plus-square"></i>
        </h3>
        <h4 class="list-group-item-heading count">{{user_upload_count}}</h4>
        <p class="list-group-item-text">
            Photos</p>
    </a>
    <a href="" class="list-group-item twitter">
        <h3 class="pull-right">
            <i class="fa fa-twitter-square"></i>
        </h3>
        <h4 class="list-group-item-heading count">{{comment_count}}</h4>
        <p class="list-group-item-text">
            Comments</p>
    </a>
    <a href="" class="list-group-item twitter">
        <h3 class="pull-right">
            <i class="fa fa-twitter-square"></i>
        </h3>
        <h4 class="list-group-item-heading count">{{points}}</h4>
        <p class="list-group-item-text">
            Nuts</p>
    </a>
    <a href="" class="list-group-item twitter">
        <h3 class="pull-right">
            <i class="fa fa-twitter-square"></i>
        </h3>
        <h4 class="list-group-item-heading count">{{points_month}}</h4>
        <p class="list-group-item-text">
            Nuts this month</p>
    </a>
    <a href="" class="list-group-item twitter">
        <h3 class="pull-right">
            <i class="fa fa-twitter-square"></i>
        </h3>
        <h4 class="list-group-item-heading count">{{points_year}}</h4>
        <p class="list-group-item-text">
            Nuts this year</p>
    </a>
    <a href="" class="list-group-item twitter">
        <h3 class="pull-right">
            <i class="fa fa-twitter-square"></i>
        </h3>
        <h4 class="list-group-item-heading count">{{collectible_count}}</h4>
        <p class="list-group-item-text">
            Collectibles submitted</p>
    </a>
    <a href="" class="list-group-item twitter">
        <h3 class="pull-right">
            <i class="fa fa-twitter-square"></i>
        </h3>
        <h4 class="list-group-item-heading count">{{edit_count}}</h4>
        <p class="list-group-item-text">
            Edits submitted</p>
    </a>
</div>