<ul class="nav nav-tabs stash-tabs">
	<li><a class="_profile" href="/profile/{{username}}/profile">Profile</a></li>
	<li><a class="_stash" href="/profile/{{username}}/stash">Stash</a></li>
	<li><a class="_wishlist" href="/profile/{{username}}/wishlist">Wish List</a></li>
	<li><a class="_favorites" href="/profile/{{username}}/favorites">Favorites</a></li>
	<li><a class="_sale" href="/profile/{{username}}/sale">Sale/Trade List</a></li>
	<li><a class="_photos" href="/profile/{{username}}/photos">Photos</a></li>
	<li><a class="_history" href="/profile/{{username}}/history">History</a></li>
	<li><a class="_activity" href="/profile/{{username}}/activity">Activity</a></li>
</ul>