<ul class="nav nav-tabs stash-tabs">
	<li class="active"><a class="_stash" href="/profile/{{username}}/stash">Collectibles</a></li>
	<li><a class="_wishlist" href="/profile/{{username}}/wishlist">Wish List</a></li>
	<li><a class="_sale" href="/profile/{{username}}/sale">Sale/Trade List</a></li>
	<li><a class="_photos" href="/profile/{{username}}/photos">Photos</a></li>
	<li><a class="_comments" href="/profile/{{username}}/comments">Comments</a></li>
	<li><a class="_history" href="/profile/{{username}}/history">History</a></li>
</ul>