<table class="table stashable" data-toggle="modal-gallery" data-target="#modal-gallery">
<thead>
<tr>
<th><a class="_sort" data-sort="active" href="javascript:void(0)">Bought/Sold</a></th>
<th></th>
<th>Name</th>
<th>Manufacturer</th>
<th>Edition Size</th>
<th>Price Paid</th>
<th>Collection Stash Value</th>
<th>Date Purchased</th>
<th><a class="_sort" data-sort="created" href="javascript:void(0)">Date Added</a></th>
<th>Sold For</th>
<th>Date Sold</th>
{{#permissions.edit_collectible_user}}
	<th>Actions</th>
{{/permissions.edit_collectible_user}}
</tr>

</thead>

<tbody>
	

</tbody>

</table>
<ul class="_pagination"></ul>