<div class="container stash">
<div class="row stash-layout">
	<div class="col-md-12">
        <div class="_user-card">

        </div>		
        <br>
		<br>
		<br>
		<div class="header"></div>
        <div class="_main">

        </div>
	</div>
</div>
</div>