<div class="row">
	<div class="col-md-12">
		<div class="btn-group pull-right">
			<a class="btn btn-default _filtersLink" href="/stash/CollectionStash/tile"><i class="icon-filter"></i></a>
			<a class="btn btn-default" href="/stash/CollectionStash/tile"><i class="icon-th-large"></i></a>
			<a class="btn btn-default" href="/stash/CollectionStash/list"><i class="icon-list"></i></a>
			
		</div>
	
	</div>
</div>

<div class="row">
	<div class="col-md-12 _filters stash-filters">
	</div>
</div>
<div class="row">
	<div class="col-md-12 _stash">
	</div>
</div>