<div class="row">
	<div class="col-md-12">
		<div class="btn-group pull-right">
			{{#upload_photos}}<a title="Upload Photos" class="btn btn-default" href="/user_uploads/uploads"><i class="fa fa-camera"></i> Upload</a>{{/upload_photos}}
			{{#edit_photos}}<a title="Share and Edit Photos" class="btn btn-default" href="/user_uploads/edit/' . $stashUsername . '"><i class="fa fa-edit"></i> Share and Edit Photos</a>{{/edit_photos}}
		</div>
	
	</div>
</div>

<div class="row">
	<div class="col-md-12 _photos">
	</div>
</div>