<div class="row spacer">
	<div class="col-md-12 _stashFacts">

	</div>
</div>
<div class="row spacer">
	<div class="col-md-12 _facts">

	</div>
</div>
<div class="row spacer">
	<div class="col-md-12 _work">

	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
		        <div class="_activity">

		        </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
		        <div class="_photos">

		        </div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
        <div class="_comments">

        </div>
	</div>
</div>