<div class="row stash-layout">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-3">
		        <div class="_user-card">

		        </div>
			</div>
			<div class="col-md-9">
				<div class="profile">
					<div class="panel">
		                    <img class="pic" src="http://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/twDq00QDud4/s120-c/photo.jpg" alt="...">
		                    <div class="name"><small>Something Sexy</small></div>
		            </div>
				</div>
				<br>
				<br>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">

				<div class="header"></div>
		        <div class="_main">

		        </div>
			</div>
		</div>
	</div>
</div>
