<div class="_uploads tiles boxed-tiles" data-toggle="modal-gallery" data-target="#modal-gallery">

</div>
<div class="row">
	<div class="col-md-12">
	{{#showMore}}<button class="btn btn-default _more">More</button>{{/showMore}}
	</div>
</div>

