<div class="thumbnail">
	{{#Collectible.CollectiblesUpload}}
		{{#primary}}
			<a data-gallery="gallery" href="/files/{{Upload.name}}" class="thumbnail">
				<img width="200" height="200" src="/files/{{Upload.name}}" resizetype="strict" alt="{{Collectible.descriptionTitle}}">
			</a>
		{{/primary}}
	{{/Collectible.CollectiblesUpload}}
	{{^Collectible.CollectiblesUpload}}
		<a target="_blank" href="/collectibles_users/view/{{CollectiblesUser.id}}" class="thumbnail"><img alt="" src="/img/no-photo.png"></a>
	{{/Collectible.CollectiblesUpload}}
	<div class="caption">
	<h3>
	{{#Collectible.custom}}
		<a class="title" target="_blank" href="/collectibles/view/{{Collectible.id}}">{{{Collectible.displayTitle}}}</a>
	{{/Collectible.custom}}
	{{#Collectible.original}}
		<a class="title" target="_blank" href="/collectibles/view/{{Collectible.id}}">{{{Collectible.displayTitle}}}</a>
	{{/Collectible.original}}
	{{^Collectible.original}}{{^Collectible.custom}}
		<a class="title" target="_blank" href="/collectibles_users/view/{{CollectiblesUser.id}}">{{{Collectible.displayTitle}}}</a>
	{{/Collectible.custom}}{{/Collectible.original}}
	</h3>

	<span class="pull-left marked-for-sale {{^CollectiblesUser.sale}}hidden{{/CollectiblesUser.sale}}">
	<a class="" title="Marked for sale"><i class="icon-dollar"></i></a></span>
	<span><a class="" title="View Collectible Details" href="/collectibles/view/{{Collectible.id}}"><i class="icon-info"></i></a></span>
	{{#permissions.edit_collectible_user}}
		<span><a class="" title="Edit" href="/collectibles_users/edit/{{CollectiblesUser.id}}"><i class="icon-edit"></i></a></span>
		{{^CollectiblesUser.sale}}
			<span><a href="javascript:void(0);" data-collectible-user="{{CollectiblesUser}}" data-collectible="{{Collectible}}" data-collectible-user-id="{{CollectiblesUser.id}}" class="stash-sell" title="Sell"><i class="icon-dollar"></i></a></span>
		{{/CollectiblesUser.sale}}
		<span><a data-prompt="true" data-stash-type="$stashType" data-collectible-user="{{CollectiblesUser}}" data-collectible="{{Collectible}}" data-collectible-user-id="{{CollectiblesUser.id}}" class="remove-from-stash" title="Remove" href="#"><i class="icon-trash"></i></a></span>
	{{/permissions.edit_collectible_user}}

	</div>

</div>
