<div class="profile">
	<div class="panel">
	    <div class="user-stats">
			<ul class="profile-tabs pull-right">
			    <li class="followers">
				    <a href="javascript:void(0)"><span class="count">{{owned}}</span><span class="meta">Stashed</span></a>
				</li>
			    <li class="following">
				    <a href="javascript:void(0)"><span class="count">{{collectibles_user_count}}</span><span class="meta">Owned</span></a>
				</li>
			    <li class="listed">
				    <a href="javascript:void(0)"><span class="count">{{collectibles_wish_list_count}}</span><span class="meta">Wished</span></a>
				</li>
			    <li class="listed">
				    <a href="javascript:void(0)"><span class="count">{{sale}}</span><span class="meta">Selling</span></a>
				</li>
			    <li class="listed">
				    <a href="javascript:void(0)"><span class="count">{{user_upload_count}}</span><span class="meta">Photos</span></a>
				</li>
			    <li class="listed">
				    <a href="javascript:void(0)"><span class="count">{{points}}</span><span class="meta">Nuts</span></a>
				</li>
			</ul>
	    </div>
        <div class="blockie pic"></div>
        <div class="name"><small>{{username}}</small> {{#permissions.showFavorite}}<a class="btn btn-default btn-sm _favorite" data-type-id="{{id}}" data-type="user" href="#"><i class="fa fa-heart{{^favorited}}-o{{/favorited}}"></i></a>{{/permissions.showFavorite}}</div>
        <div class="info">
        	<span>Name: {{#display_name}}{{.}}{{/display_name}}{{^display_name}}{{first_name}}{{/display_name}}</span><span>Member since {{member_since}}</span>{{#location}}<span>{{.}}</span>{{/location}}
        </div>
    </div>

</div>