<table class="table stashable" data-toggle="modal-gallery" data-target="#modal-gallery">
<thead>
<tr>
	<th></th>
	<th>Name</th>
	<th>Manufacturer</th>
	<th>Date Added</th>
	{{#permissions.edit_collectible_user}}
		<th>Actions</th>
	{{/permissions.edit_collectible_user}}
</tr>

</thead>

<tbody>
	

</tbody>

</table>
{{#showPagination}}
<ul class="_pagination"></ul>
{{/showPagination}}