<div class="panel panel-default work">
	<div class="panel-heading">
		<h3 class="panel-title">Stuff currently being worked on</h3>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table  table-striped table-hover">
				<thead>
					<tr>
						<th>Collectible Id</th>
						<th>Name</th>
						<th>Type</th>
						<th>Platform</th>
						<th>Date Submitted</th>
						<th><a class="sort" data-sort="Collectible.status_id" {@eq key="{sort.sort}" value="Collectible.status_id"}data-direction="{sort.direction}" {/eq}>Status</a></th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>	
	</div>
	<div class="panel-footer">
		{{#showPagination}}
		<ul class="_pagination"></ul>
		{{/showPagination}}			
	</div>
</div>