<div class="row spacer">
    <div class="col-md-2">
        {{#Upload}}
            <a data-gallery="gallery" href="/{{uploadDirectory}}/{{Upload.name}}" class="thumbnail">
                <img class="img-responsive" src="/{{uploadDirectory}}/{{Upload.name}}" resizetype="strict" alt="">
            </a>
        {{/Upload}}

        {{^Upload}}
            <a class="thumbnail col-md-12"><img alt="" src="/img/no-photo.png"></a>
        {{/Upload}}       
    </div>

    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12">
                <span class="name">
                <a target="_blank" href="/company/{{id}}">{{title}}</a>
                </span>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <span class="description">
                {{{bio}}}
                </span>
            </div>
        </div>
    </div>                                                
</div>