<div class="row spacer">
    <div class="col-md-2">
        {{#photo}}
            <a data-gallery="gallery" href="/{{uploadDirectory}}/{{photo.name}}" class="thumbnail">
                <img class="img-responsive" src="/{{uploadDirectory}}/{{photo.name}}" resizetype="strict" alt="">
            </a>
        {{/photo}}

        {{^photo}}
            <a class="thumbnail col-md-12"><img alt="" src="/img/no-photo.png"></a>
        {{/photo}}       
    </div>

    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12">
                <span class="name">
                <a target="_blank" href="/company/{{id}}/{{slugField}}">{{title}}</a>
                </span>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <span class="description">
                {{{bio}}}
                </span>
            </div>
        </div>
    </div>
    {{#permissions.edit_manufacturer}}
    <div class="col-md-3">
        <button class="btn btn-default _edit-company">Edit</button>
    </div>                
    {{/permissions.edit_manufacturer}}                            
</div>