    <div class="row spacer">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Pending Collectibles</h3>
                </div>
                <div class="panel-body _pending">
                
                </div>
            </div>
        </div>

    </div>

    <div class="row spacer">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Recently Approved Collectibles</h3>
                </div>
                <div class="panel-body _new">
                
                </div>
            </div>
        </div>

    </div>