
#stage .container2 {


}

#site-info{
  width: 350px;
}

#header #header-bottom .wrapper .login-wrapper {
  float: right;
  margin-right: 100px;
}

#header #header-bottom .wrapper .login-wrapper .component {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  border: none;
  width: 100%;
}